<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head %>
</head>

<body class="hm hm-has-top-menu hm-has-side-menu">
    <header>
        <% include ../../partials/header %>
    </header>
    <aside>
        <% include ../../partials/side-menu %>
    </aside>
   
    <main class="hm-main-view">
        <div class="p-3"> 
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="card hm-tmr-0">
                <div>
                    <div class="p-3">
                        <div class="row no-gutters">
                            <div>
                                <button type="button" class="btn btn-sm btn-fab btn-white">
                                    <i class="material-icons">chevron_left</i>
                                </button>
                                <span class="hm-text-size-16 px-3">October, 2019</span>
                                <button type="button" class="btn btn-sm btn-fab btn-white">
                                    <i class="material-icons">chevron_right</i>
                                </button>
                            </div>
                            <div class="hm-col">
                                <div class="text-center pt-2">
                                    
                                </div>
                            </div>
                            <div class="pl-3">
                                <span class="hm-text-dull">
                                    Read:
                                </span>
                                <a href="#">
                                    <i class="material-icons hm-text-size-16">description</i> Time Tracking Policy
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>   
                        <div class="table-responsive">
                            <table class="table" align="left">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col" width="50%" class="text-center">
                                            Shift : 10:00 AM &nbsp; &nbsp; To &nbsp; &nbsp; 07:00 PM  &nbsp; &nbsp;<small class="text-muted">Duration : 9 Hrs</small>
                                        </th>
                                        <th scope="col">Total Hours</th>
                                        <th scope="col">Log</th>
                                        <th scope="col">Edit Request</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Mon,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 1 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >
                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Tue,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 2 
                                            </span>
                                        </td>

                                        <td>
                                            <div>
                                                <div>
                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            06:30 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  04:30 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 70%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <span class="hm-text-thick">
                                                06:30 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-exclamation-circle text-info"></i> Early Left
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Wed,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 3 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 11:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  08:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-late" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-exclamation-circle text-info"></i> Late Arrive
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Thu,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 4 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >
                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            11:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  09:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-ot" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                11:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            Over Time
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Fri,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 5 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            00:00 Hrs
                                                        </div>
                                                        <div>
                                                            Missing Puch Out
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-mis-out" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                00:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="Punch Out Missing" class="fa fa-lg fa-exclamation-circle text-danger"></i> Incomplete
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sat,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 6 
                                            </span>
                                        </td>
                                        <td class="hm-bg-strips">
                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sun,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 7 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips">

                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Mon,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 8 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 02:30 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            04:30 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-halfday" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                04:30 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            Half day
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Tue,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 9 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Wed,
                                            </span>

                                            <span class="hm-text-thick">
                                                 Oct 10 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips hm-atten-bg-holiday">
                                            <div class=" text-center  hm-text-normal">
                                                Holiday : Govardhan Puja/Vishvakarma Day
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Thu,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 11 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Fri,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 12 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sat,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 13 
                                            </span>
                                        </td>
                                        <td class="hm-bg-strips">
                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sun,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 14 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips">

                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Mon,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 15 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Tue,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 16 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Wed,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 17 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips hm-atten-bg-leave">
                                            <div class=" text-center  hm-text-normal text-uppercase">
                                                Leave
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Thu,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 18 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Fri,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 19 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sat,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 20 
                                            </span>
                                        </td>
                                        <td class="hm-bg-strips">
                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sun,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 21 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips">

                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Mon,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 22 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Tue,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 23 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips hm-atten-bg-absent">
                                            <div class=" text-center  hm-text-normal text-uppercase ">
                                                Absent
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            Absent
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Wed,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 24 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Thu,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 25 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips hm-atten-bg-wfh">
                                            <div class=" text-center  hm-text-normal text-uppercase ">
                                                Work From Home
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Fri,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 26 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <div >

                                                    <div class="row no-gutters hm-line-bottom hm-text-size-12">
                                                        <div>
                                                            <i class="fa fa-arrow-circle-down text-success hm-in-icon"></i> 10:00 AM
                                                        </div>
                                                        <div class="hm-col text-center hm-text-dull">
                                                            09:00 Hrs
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-arrow-circle-up text-danger hm-out-icon"></i>  07:00 PM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar hm-bar-present" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="hm-text-thick">
                                                09:00 Hrs
                                            </span>
                                        </td>
                                        <td>
                                            <i title="" class="fa fa-lg fa-check-circle text-success"></i>
                                        </td>
                                        <td class="td-actions">
                                            <button class="btn btn-white"  title="Attendance & Correction Request" onclick="openSidePanel('#panelAddNewAttenReqFrmAtten')">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sat,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 27 
                                            </span>
                                        </td>
                                        <td class="hm-bg-strips">
                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Sun,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 28 
                                            </span>
                                        </td>

                                        <td class="hm-bg-strips">
                                            <div class=" text-center text-uppercase hm-text-normal">
                                                Week Off
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td class="td-actions">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Mon,
                                            </span>
                                            <span class="hm-text-thick">
                                                Oct 29 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td class="td-actions">
                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Tue,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 30 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td class="td-actions">
                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hm-text-dull hm-atten-day">
                                                Wed,
                                            </span>
                                            <span class="hm-text-thick">
                                                 Oct 31 
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <div class="hm-atten-bar-wrapper mb-4">
                                                    <div class="hm-atten-sub-bar" style="width: 100%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td class="td-actions">
                                          
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card  p-3 hm-tmr-0">
                        <div class="row">
                         
                            <div class=" col-6">
                                <div class="text-muted hm-text-size-12 pb-2">
                                    Avg Sitting / Day
                                </div>
                                <div class="hm-text-thick hm-text-size-24">
                                    6.35 Hrs
                                </div>
                            </div>
                            <div class=" col-6 hm-line-left">
                                <div class="text-muted hm-text-size-12 pb-2">
                                    On Time Arrive
                                </div>
                                <div class="hm-text-thick hm-text-size-24">
                                    80 %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  hm-tmr-0">
                        <div class="p-3">
                            Attendance Summary : October 2019
                        </div>
                        <div>
                            <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#4caf50;"></span> 
                                                Presents
                                        </td>
                                        <td>
                                            15
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:orange;"></span> 
                                                Late Arrives
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                            <div>
                                                <span class="hm-atten-color-strip"></span> 
                                                Early Left
                                            </div>
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#0099ff;"></span> 
                                                Overtime
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#c27bf9;"></span> 
                                                Work From Home
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#fa9090;"></span> 
                                                Missing Punch
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#79eab2;"></span> 
                                                Half Day Leaves
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#42e7fa;"></span> 
                                                Leaves
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#f2f05c;"></span> 
                                                Holidays
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:#ddd;"></span> 
                                                Week Offs
                                        </td>
                                        <td>
                                            8
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="80%">
                                                <span class="hm-atten-color-strip" style="background:red;"></span> 
                                                Absents
                                        </td>
                                        <td>
                                            1
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
            
            

        </div>
    </main>
    
    <% include modal/modal_addNewAttenReqFrmAtten %>
    
    <footer>
        <% include ../../partials/footer %>

    </footer>
    <script>


    </script>
</body>
</html>
