<div>
    <section class="pt-4 px-3">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="mb-4">
                    <div class="row no-gutters align-items-center hm-line-right">
                        <div class="pr-2">
                            <span hm-chart-type="singleValueDonut" hm-chart-data='{
                                "radius": 44,
                                "color": "#4caf50", 
                                "percent": 10, 
                                "centerLabel": "Available", 
                                "centerValue": 2
                                }'>
                            </span>
                        </div>
                        <div class="hm-col hm-text-normal">
                            <div class="hm-text-size-18">
                                Paid Leaves
                            </div>
                            <div class="hm-text-size-11">
                                <span class="pr-4">
                                    Consumed: 8
                                </span>
                                <span class="pr-4">
                                    Credited: 10
                                </span>
                                <span>
                                    Quota: 12
                                </span>
                            </div>
                            <div class="mt-2 hm-text-size-12">
                                <a href="#">
                                    Explain Leave
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-4">
                    <div class="row no-gutters align-items-center hm-line-right">
                        <div class="pr-2">
                            <span hm-chart-type="singleValueDonut" hm-chart-data='{
                                "radius": 44,
                                "color": "#4caf50", 
                                "percent": 10, 
                                "centerLabel": "Available", 
                                "centerValue": 2
                                }'>
                            </span>
                        </div>
                        <div class="hm-col hm-text-normal">
                            <div class="hm-text-size-18">
                                Casual Leaves
                            </div>
                            <div class="hm-text-size-11">
                                <span class="pr-4">
                                    Consumed: 8
                                </span>
                                <span class="pr-4">
                                    Credited: 10
                                </span>
                                <span>
                                    Quota: 12
                                </span>

                            </div>
                            <div class="mt-2 hm-text-size-12">
                                <a href="#">
                                    Explain Leave
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-4">
                    <div class="row no-gutters align-items-center hm-line-right">
                        <div class="pr-2">
                            <span hm-chart-type="singleValueDonut" hm-chart-data='{
                                "radius": 44,
                                "color": "#4caf50", 
                                "percent": 10, 
                                "centerLabel": "Available", 
                                "centerValue": 2
                                }'>
                            </span>
                        </div>
                        <div class="hm-col hm-text-normal">
                            <div class="hm-text-size-18">
                                Medical Leaves
                            </div>
                            <div class="hm-text-size-11">
                                <span class="pr-4">
                                    Consumed: 8
                                </span>
                                <span class="pr-4">
                                    Credited: 10
                                </span>
                                <span>
                                    Quota: 12
                                </span>

                            </div>
                            <div class="mt-2 hm-text-size-12">
                                <a href="#">
                                    Explain Leave
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-4">
                    <div class="row no-gutters align-items-center ">
                        <div class="pr-2">
                            <span hm-chart-type="singleValueDonut" hm-chart-data='{
                                "radius": 44,
                                "color": "#4caf50", 
                                "percent": 10, 
                                "centerLabel": "Available", 
                                "centerValue": 2
                                }'>
                            </span>
                        </div>
                        <div class="hm-col hm-text-normal">
                            <div class="hm-text-size-18">
                                 Comp Off
                            </div>
                            <div class="hm-text-size-11">
                                <span class="pr-4">
                                    Consumed: 8
                                </span>
                                <span class="pr-4">
                                    Credited: 10
                                </span>
                            </div>
                            <div class="mt-2 hm-text-size-12">
                                <a href="#">
                                    Explain Leave
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
          

        </div>
        
        
    </section>
    <section>
        <h4 class="pl-3">
            My Leave Requests
        </h4>   
        <div class="table-responsive">
            <table class="table table-hover" align="left">
                <thead>
                    <tr>
                        <th scope="col">Create On</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Leave Dates</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Approved By</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            03/06/2019
                        </td>
                        <td>
                            Casual Leave
                            
                        </td>
                        <td>
                            <span>03/06/19</span>
                            <span>&nbsp;- To -&nbsp;</span>
                            <span>04/06/19</span>
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </td>
                        <td> 
                            
                        </td>
                        <td>
                            <span class="badge badge-pill badge-warning">
                                Pendding
                            </span>
                        </td>
                        <td class="td-actions">
                            <button class="btn btn-white" title="Edit">
                                <i class="material-icons">edit</i>
                            <div class="ripple-container"></div></button>
                            <button class="btn btn-white" title="Delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            28/05/2019
                        </td>
                        <td>
                            Casual Leave
                        </td>
                        <td>
                            <span>28/05/19</span>
                            <span>&nbsp;- To -&nbsp;</span>
                            <span>29/05/19</span>
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </td>
                        <td> 
                            Ajay Hada
                        </td>
                        <td>
                            <span class="badge badge-pill badge-success">
                                Approved
                            </span>
                        </td>
                        <td class="td-actions">
                            
                        </td>
                    </tr>
                    
                 
                </tbody>
            </table>
        </div>
    </section>
</div>
