<div class="px-3">
    <section class="pb-5" id="jobDetailsReadonly">
        
        <div>
            <div class="row no-gutters align-items-center">
                <div class="hm-col">
                    <h4 class="title  hm-bmr-10">
                       Job Details
                    </h4>
                </div>
                <div class="pl-3">
                    <button type="button" class="btn btn-white" onclick="hmToggleView('#jobDetailsReadonly', '#jobDetailsEdit')">Edit Details</button>
                    <button type="button" class="btn btn-primary">Resign</button>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Employee No.
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    016Y2017    
                                </div>
                            </div>
                        </div>
                    
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Date Of Joining
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    10/09/2019    
                                </div>
                            </div>
                        </div>
                    
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Location
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Athena Jaipur    
                                </div>
                            </div>
                        </div>

                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Job Title
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Senior Software Developer    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-2"></div>

                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Department
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    IT    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Status
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Working    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Probation End Date
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    10/12/2019    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Notice Period
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Default 2 Months    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="">
                <h4 class="title  hm-bmr-10">
                   Other Policies
                </h4>
            </div>
            <div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Reporting To
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Some User    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Pay Grade
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Executive    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Time Type
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Full Time    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Work Type
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Permanent    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Shift
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    General (10 AM to 7 PM)    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-2"></div>

                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Leaves Plan
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Standerd Leaves Plan    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Overtime Policy
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Not Applied    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Holidays Plan
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Athena Jaipur Holidays    
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Attendance Tracking Policy
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Felxible Time     
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Weekoff
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Saturday & Sunday     
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-4">
                                <span class="text-muted">
                                    Work From Home
                                </span>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="hm-text-normal">
                                    Not Applied    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hide" id="jobDetailsEdit">
        <div>
            <div class="row no-gutters align-items-center">
                <div class="hm-col">
                    <h4 class="title  hm-bmr-10">
                       Job Details
                    </h4>
                </div>
                <div class="pl-3">
                    <button type="button" class="btn btn-primary" onclick="hmToggleView('#jobDetailsReadonly', '#jobDetailsEdit')">Update</button>
                    <button type="button" class="btn btn-white" onclick="hmToggleView('#jobDetailsReadonly', '#jobDetailsEdit')">Cancel</button>
                    
                </div>
            </div>
            
            <div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Employee No.</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <input type="text" class="form-control"  value="016Y2017" readonly="">
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                    <label for="" class="pt-2"><sup class="text-danger">*</sup>Date Of Joining</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <input type="text" class="form-control datepicker" required=""  value="10/09/2019" />
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Location</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Athena Jaipur</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Job Title</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Senior Software Developer</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </div>
                    <div class="col-12 col-md-12 col-lg-2"></div>
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Department</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>IT</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Status</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Working</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                    <label for="" class="pt-2">Probation Period</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="row no-gutters align-items-end mb-3">
                                    <div class="">
                                        <span class="is-filled"><input type="number" class="form-control" min="1" max="365" placeholder="0" value="6"></span>
                                    </div>
                                    <div class="pl-3">
                                        <select id="" class="form-control">
                                            <option>Days</option>
                                            <option selected="">Months</option>
                                            <option>Years</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Notice Period</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Default 2 Months</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="">
                <h4 class="title  hm-bmr-10">
                   Other Policies
                </h4>
            </div>
            <div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Reporting To</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Some User</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Pay Grade</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Executive</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Time Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Full Time</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Work Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Permanent</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Shift</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>General (10 AM to 7 PM)</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-12 col-md-12 col-lg-2"></div>
                    
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Leaves Plan</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Standerd Leaves Plan</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Overtime Policy</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Not Applied</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Holidays Plan</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Athena Jaipur Holidays</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Attendance Tracking Policy</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Felxible Time </option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Weekoff</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Saturday & Sunday </option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Work From Home</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group hm-tpd-0">
                                    <select id="" class="form-control" >
                                        <option>Not Applied</option>
                                        <option>...</option>
                                    </select>
                                    <div class="hm-input-error-msg">
                                        Required Field!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>    
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-primary" onclick="hmToggleView('#jobDetailsReadonly', '#jobDetailsEdit')">Update</button>
            <button type="button" class="btn btn-white" onclick="hmToggleView('#jobDetailsReadonly', '#jobDetailsEdit')">Cancel</button>
        </div>
    </section>
   

    
    
</div>
