<div class="px-3">
    <section class="">
        <div class="row no-gutters align-items-center">
            <div class="hm-col">
                <h4 class="title  hm-bmr-10">
                   Job Details
                </h4>
            </div>
            <div class="pl-3">
                <button type="button" class="btn btn-primary">Resign</button>
            </div>
        </div>
        
        
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Employee No.</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control" readonly="" value="016Y2017">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Date Of Joining</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control datepicker" required="" readonly="" value="10/09/2019" />
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Location</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Athena Jaipur</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Job Title</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Senior Software Developer</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Department</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>IT</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Status</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Working</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                                <label for="" class="pt-2">Probation End Date</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control datetimepicker" required="" readonly="" value="10/09/2019" />
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Notice Period</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Default 2 Months</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Reporting To</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control" readonly="" value="Some User" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Pay Grade</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Executive</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Time & Attendance
            </h4>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                   <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Time Type</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Full Time</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Work Type</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Permanent</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Shift</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>General (9 to 5)</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Attendance Tracking Policy</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Felxible Time </option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Weekoff</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Saturday & Sunday </option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Time Capture Policy</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" disabled="">
                                    <option>Standard Capture Scheme </option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    
    
</div>
