<section id="upcomingholidaysWrapper">
    <div class="card hm-tmr-0 hm-widget-warpper" id="upcomingholidays">
        <div class="hm-widget-color-bar" style="background: hotpink;"></div>
        <div class="mx-3 py-2">
            <div class="row no-gutters">
                <div class="hm-col animate-wrapper">
                    <h4 class="title hm-mr-0 animate-fade-left">
                        Upcoming Holidays
                    </h4>
                </div>
                <div>
                    <a href="#" onclick="hmToggleView('#upcomingholidays', '#allholidays')">View All</a>
                </div>
            </div>
        </div>
        <div class="px-4 hm-widget-loader">
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
        </div>
        <div class="hm-widget-content hide">
            <div class=" p-3 hm-upcoming-holiday">
                <!-- <img class="hm-upcoming-holiday-thumb" src="<%= baseUrl %>/img/holiday-thumb.png" alt=""> -->
                <div class="mb-2">
                    <span class="hm-text-size-36">02</span>
                    <span class="">Saturday, Nov 2019</span>
                </div>
                <div class="hm-text-size-18">
                    Chhath Puja 
                </div>
            </div>
            <div class=" hm-scroll-y-auto" style="height: 184px;">
                <div class="px-3 py-2">
                    <div>
                        <span class="hm-text-thick hm-text-size-16">11</span> Monday, Nov 2019
                    </div>
                    <div class="hm-text-size-12 hm-text-dull">
                        Guru Nanak Birthday 
                    </div>
                </div>
                <div class="px-3 py-2">
                    <div>
                        <span class="hm-text-thick hm-text-size-16">25</span> Wednesday, Dec 2019
                    </div>
                    <div class="hm-text-size-12 hm-text-dull">
                        Christmas Day   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card hm-tmr-0  hide" id="allholidays">
        <div class="p-2 hm-text-normal hm-line-bottom">
            <div class="row no-gutters align-items-center">
                <div class="pr-3">
                    <button type="button" class="btn btn-fab btn-round btn-white btn-sm" onclick="hmToggleView('#upcomingholidays', '#allholidays')">
                        <i class="material-icons">chevron_left</i>
                    </button>
                </div>
                <div class="hm-col">
                    <h4 class="title hm-mr-0">
                        All Holidays
                    </h4>
                </div>
                <div class="px-3">
                    Year
                </div>
                <div class="px-3">
                    <div class="form-group hm-pd-0 hm-mr-0">
                        <select id="" class="form-control">
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class=" hm-scroll-y-auto" style="height: 265px;">
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">01</span> Tuesday, Jan 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    New Year's Day
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">12</span> Saturday, Jan 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Birthday of Swami Vivekananda   
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">14</span> Monday, Jan 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Sankranti   
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">23</span> Wednesday, Jan 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Netaji Subhas Chandra Bose Jayanti  
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">26</span> Saturday, Jan 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Republic Day    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">04</span> Monday, Mar 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Maha Shivratri  
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">21</span> Thursday, Mar 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Doljatra/Holi Dahan 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">06</span> Saturday, Apr 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    1st Navratra    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">17</span> Wednesday, Apr 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Mahavir Jayanti 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">19</span> Friday, Apr 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Good Friday 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">01</span> Wednesday, May 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    May Day 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">06</span> Monday, May 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    General Election    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">24</span> Friday, May 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Maharana Pratap Jayanti 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">31</span> Friday, May 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Jumat-ul-Wida   
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">05</span> Wednesday, Jun 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Eid-ul-Fitr 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">12</span> Monday, Aug 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Eid-ul- Azha    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">15</span> Thursday, Aug 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Independence Day/Raksha Bandhan 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">23</span> Friday, Aug 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Janmashtami
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">02</span> Monday, Sep 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Ganesh Chaturthi    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">10</span> Tuesday, Sep 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Muharram (10th Day) 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">02</span> Wednesday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Mahatma Gandhi Birthday 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">05</span> Saturday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Maha Saptami    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">08</span> Tuesday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Durga Puja/Dussehra 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">27</span> Sunday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Deepavali
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">28</span> Monday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Govardhan Puja/Vishvakarma Day  
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">29</span> Tuesday, Oct 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Bhai Bij/Duj    
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">02</span> Saturday, Nov 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Chhath Puja 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">11</span> Monday, Nov 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Guru Nanak Birthday 
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Wednesday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Christmas Day   
                </div>
            </div>
            
        </div>
    </div>
</section>