<div class="card p-3 hm-tmr-0">
    <section class="hm-tab-wrapper">
        <div class="hm-tab-nav-wrapper hm-simple-tab-nav">
            <div class=" hm-tab-link active btn" hmtab="holidays">
                Holidays
            </div>
            <div class=" hm-tab-link  btn" hmtab="planLeaves">
                Leaves
            </div>
            <div class=" hm-tab-link  btn" hmtab="notify">
                Approval Notification
            </div>
        </div>
        <div class="hm-tab-content-wrapper">
            <div class="hm-tab-content active" hmtab="holidays">
                <div class="">
                    <div class="pt-2">
                        <div class="row no-gutters">
                            <div class="hm-col">
                                <h3 class="hm-mr-0">
                                    Holidays Plan
                                </h3>
                                <p>
                                    Add holidays plans and setup holidays under the plan
                                </p>
                            </div>
                            <div class="pl-3">

                            </div>
                        </div>
                    </div>
                </div>

                <div>   
                    <div class="row no-gutters">
                        <div class="hm-col">
                            <button type="button" class="btn btn-primary" onclick="openSidePanel('#panelAddNewHolidaysPlan');">
                                Add Plan
                            </button>
                        </div>
                        <div>
                            <div class="pt-1 px-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text hm-hpd-8">
                                            <i class="material-icons">search</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control " placeholder="Search...">
                                    <span class="input-group-btn hide">
                                        <button class="btn  btn-white  hm-pd-5">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="nav-item dropdown dropleft">
                                <a class="hm-dropdown-no-arrow  dropdown-toggle btn btn-fab btn-round btn-white" data-toggle="dropdown" href="#0" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_horiz</i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#0">Filter Data</a>
                                    <a class="dropdown-item" href="#0">Import Data</a>
                                    <a class="dropdown-item" href="#0">Export Data</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>   
                    <table class="table table-hover" align="left">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Applied To</th>
                                <th scope="col">Setup</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" onclick="hmToggleView('#holidaysSetup', '#entireAdminSetup')">
                                        Athena Jaipur Holidays
                                    </a>
                                </td>
                                <td>12 Employees</td>
                                <td>
                                    <a href="#" onclick="hmToggleView('#holidaysSetup', '#entireAdminSetup')">
                                        Setup
                                    </a>
                                </td>
                                <td class="td-actions">
                                    <button class="btn btn-white"  title="Edit">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-white" title="Delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" onclick="hmToggleView('#holidaysSetup', '#entireAdminSetup')">
                                        Athena Delhi Holidays
                                    </a>
                                </td>
                                <td>12 Employees</td>
                                <td>
                                    <a href="#" onclick="hmToggleView('#holidaysSetup', '#entireAdminSetup')">
                                        Setup
                                    </a>
                                </td>
                                <td class="td-actions">
                                    <button class="btn btn-white"  title="Edit">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-white" title="Delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="hm-tab-content " hmtab="planLeaves">
                <div class="">
                    <div class="pt-2">
                        <div class="row no-gutters">
                            <div class="hm-col">
                                <h3 class="hm-mr-0">
                                    Leaves Plan
                                </h3>
                                <p>
                                    Add leaves plans and setup leaves under the plan
                                </p>
                            </div>
                            <div class="pl-3">

                            </div>
                        </div>
                    </div>
                </div>

                <div>   
                    <div class="row no-gutters">
                        <div class="hm-col">
                            <button type="button" class="btn btn-primary" onclick="openSidePanel('#panelAddNewLeavesPlan');">
                                Add Plan
                            </button>
                        </div>
                        <div>
                            <div class="pt-1 px-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text hm-hpd-8">
                                            <i class="material-icons">search</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control " placeholder="Search...">
                                    <span class="input-group-btn hide">
                                        <button class="btn  btn-white  hm-pd-5">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="nav-item dropdown dropleft">
                                <a class="hm-dropdown-no-arrow  dropdown-toggle btn btn-fab btn-round btn-white" data-toggle="dropdown" href="#0" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_horiz</i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#0">Filter Data</a>
                                    <a class="dropdown-item" href="#0">Import Data</a>
                                    <a class="dropdown-item" href="#0">Export Data</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>   
                    <table class="table table-hover" align="left">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Applied To</th>
                                <th scope="col">Setup</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" onclick="hmToggleView('#leavesSetup', '#entireAdminSetup')">
                                        Employees Leaves Plan
                                    </a>
                                </td>
                                <td>12 Employees</td>
                                <td>
                                    <a href="#" onclick="hmToggleView('#leavesSetup', '#entireAdminSetup')">
                                        Setup
                                    </a>
                                </td>
                                <td class="td-actions">
                                    <button class="btn btn-white"  title="Edit">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-white" title="Delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" onclick="hmToggleView('#leavesSetup', '#entireAdminSetup')">
                                        Managment Leaves Plan
                                    </a>
                                </td>
                                <td>12 Employees</td>
                                <td>
                                    <a href="#" onclick="hmToggleView('#leavesSetup', '#entireAdminSetup')">
                                        Setup
                                    </a>
                                </td>
                                <td class="td-actions">
                                    <button class="btn btn-white"  title="Edit">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-white" title="Delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hm-tab-content" hmtab="notify">
                <div class="">
                    <div class="pt-2">
                        <h3 class="hm-mr-0">
                            Approval Notification
                        </h3>
                        <p>
                            Send notification upon successful approval of each leave request in the entire organization. 
                        </p>
                    </div>
                </div>
                <div class="mt-4">
                    <section class="mb-4">
                        <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                            <div class="row">
                                <div class="col-12 col-md-8 ">
                                    <h4 class="hm-mr-0 hm-text-normal">
                                        Recipients For Location : Athena Jaipur 
                                    </h4>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-fab btn-round btn-primary">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                            </div>
                        </div>
                    </section>
                    <section class="mb-4">
                        <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                            <div class="row">
                                <div class="col-12 col-md-8 ">
                                    <h4 class="hm-mr-0 hm-text-normal">
                                        Recipients For Location : Athena Delhi
                                    </h4>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-fab btn-round btn-primary">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

