<div>
    <div class="">
        <div class="pt-2">
            <h3 class="hm-mr-0">
                Employees
            </h3>
            <p>
                Manage all Employee invite, add and update.
            </p>
        </div>
        <div>   
            <div class="row no-gutters">
                <div class="hm-col">
                    <button type="button" class="btn btn-primary" onclick="openSidePanel('#panelAddEmployee');">
                        <i class="material-icons">add</i>
                        Invite Employee
                    </button>
                </div>
                
                <div>
                    <div class="pt-1 px-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text hm-hpd-8">
                                    <i class="material-icons">search</i>
                                </span>
                            </div>
                            <input type="text" class="form-control " placeholder="Search...">
                            <span class="input-group-btn hide">
                                <button class="btn  btn-white  hm-pd-5">
                                    <i class="material-icons">close</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="nav-item dropdown dropleft">
                        <a class="hm-dropdown-no-arrow  dropdown-toggle btn btn-fab btn-round btn-white" data-toggle="dropdown" href="#0" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#0">Column View</a>
                            <a class="dropdown-item" href="#0">Filter Data</a>
                            <a class="dropdown-item" href="#0">Import Data</a>
                            <a class="dropdown-item" href="#0">Export Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>   
        <div class="table-responsive">
            <table class="table table-hover" align="left">
                <thead>
                    <tr>
                        <th scope="col">EmployeeID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Job Title</th>
                        <th scope="col">Date of Joining</th>
                        <th scope="col">Location</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/employee-details">E016Y2017</a>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-success">Active</span>
                        </td>
                        <td>
                            <div class="row no-gutters align-items-center">
                                <div class="pr-1">
                                    <span class="hm-name-circle" style="background: #66ccff;">hs</span>
                                </div>
                                <div class="hm-col">
                                    <div class="text-truncate">
                                        Hemant Sen
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="/employee-details" class="text-truncate">user@company.com</a>
                        </td>
                        <td>
                            <div class="text-truncate">
                                Software Engineer
                            </div>
                        </td>
                        <td>
                            03/06/2017
                        </td>
                        <td>
                            <div class="text-truncate">
                                Athena Jaipur
                            </div>
                        </td>
                        <td>
                            <div class="text-truncate">
                                Global Admin
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/employee-details">E017Y2017</a>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-info">Invited</span>
                        </td>
                        <td>
                            <div class="row no-gutters align-items-center">
                                <div class="pr-1">
                                    <span class="hm-name-circle" style="background: #ff66cc;">as</span>
                                </div>
                                <div class="hm-col">
                                    <div class="text-truncate">
                                        Ankit Sharma
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="/employee-details" class="text-truncate">user2@company.com</a>
                        </td>
                        <td>
                            <div class="text-truncate">
                                Software Engineer
                            </div>
                        </td>
                        <td>
                            04/06/2017
                        </td>
                        <td>
                            <div class="text-truncate">
                                Athena Jaipur
                            </div>
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../employees/modals/modal_addNewEmployees %>