<!-- tost -->
<div class="hm-toast-wrapper  hm-toast-fixed-top " id="siteToast"></div>

<!-- loader -->
<section id="siteLoader" class="hide">
    <div class="hm-spinner-wrapper">
        <div class="d-flex align-items-center justify-content-center hm-spinner" >
            <div>
                <svg class="hm-spinner-svg" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="hm-spinner-circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
                <p class="text-muted hm-w-full lead mt-4">
                    Loading...
                </p>
            </div>
        </div>
    </div>  
</section>

<% include ../partials/scripts %>