<title>Welcome to HRM</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="Human Resource Management (HRM)" name="description">
<link rel="icon" type="image/png" href="<%= baseUrl %>/img/favicon.png">

<!--font-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!--CSS-->
<link rel='stylesheet' href='<%= baseUrl %>/assets/css/material-kit.css' />
<link rel='stylesheet' href='<%= baseUrl %>/assets/css/select2.css' />
<link rel='stylesheet' href='<%= baseUrl %>/assets/css/custom.css' />



