<nav class=" hm-navbar hm-vpd-5 hm-hpd-20">
    <div>
        <div class="row no-gutters align-items-center">
            <div class="pr-3">
                <img src="<%= baseUrl %>/img/company-logo.png" alt="logo" class="hm-nav-company-logo">
            </div>
            <div class="pr-3 text-truncate max-w-200 hm-md-hide">
                Athenalogics Solution Pvt. Ltd.
            </div>
            <div class="hm-col">
                <% if(user.role.canView.includes('admin')) { %>
                <a href="/org/admin-setup" class="">
                    <i class="material-icons">settings</i>
                    <span class=""> Admin </span>
                </a>
                <% } %>
            </div>
            <div class="pl-3 hm-md-hide">
                <!-- <button class="btn  btn-primary btn-round btn-sm">
                   Time In <i class="material-icons">play_arrow</i>
               </button> -->
                <button class="btn btn-success btn-round btn-sm">
                    Time Out <i class="material-icons">stop</i>
                </button>
            </div>
            <div class="pl-3 hm-md-hide">
                Last Time In : 10:30 AM
            </div>
            <div class="pl-3 nav-item dropdown">
                <button class="btn  btn-fab btn-link btn-round" data-toggle="dropdown">
                    <svg class="notification-badge" height="6" width="6" style="float: right; margin: 0px 8px 15px 0px;; display:none">
                        <circle cx="3" cy="3" r="3" fill="#eb6565" />
                    </svg>
                    <i class="material-icons">notifications</i>
                </button>
                <div class="dropdown-menu notification-dropdown">
                </div>
            </div>
            <div class="pl-3 border-left">
                <div class="nav-item dropdown">
                    <a class=" dropdown-toggle" data-toggle="dropdown" href="#0" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="hm-name-circle" style="background: #66ccff;">hs</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/employee-details">My Profile</a>
                        <a class="dropdown-item" href="/employee-details">Notification Settings</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
