<title>Welcome to HRM</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> -->
<meta name="viewport" content="width=1200 , initial-scale=1">
<meta content="Human Resource Management (HRM)" name="description">
<meta property="og:image" content="https://cdn.hrpayrollsystems.net/wp-content/uploads/2017/02/human_resources_management-1024x683.jpeg">
<meta property="og:title" content="HR Software Solutions | Cloud based HRMS | HR System">
<meta property="og:description" content="HRM is your complete online HR solution. Automate and simplify your HR operations with our easy-to-use and customizable HR software.">
<meta property="og:url" content="https://hrm-dev-1.herokuapp.com">
<link rel="icon" type="image/png" href="<%= baseUrl %>/img/favicon.png">

<!--font-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!--CSS-->
<link rel='stylesheet' href='<%= baseUrl %>/assets/css/material-kit.css' />
<link rel='stylesheet' href='<%= baseUrl %>/assets/css/custom.css' />



