
<div class="hm-side-menu-outer">
    <div class="text-center hm-vpd-8">
    	<a href="/">
            <img src="<%= baseUrl %>/img/logo-white.png" alt="logo" height="16">
        </a>
    </div>
    <nav class="">
    	<div class="hm-side-menu-link" hm-link="/" hm-url="/">
	    	<div class="text-center">
	    		<i class="material-icons">home</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Home</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">person</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Me</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">access_time</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Attendance</div>
	    	<div class="hm-side-submenu p-2">
	    		<div class="hm-side-submenu-item hm-text-size-13">
					Views
				</div>
				<div class="hm-side-submenu-item hm-text-size-13">
					Reports
				</div>
				<div class="hm-side-submenu-item hm-text-size-13">
					Shift Schedule
				</div>
				<div class="hm-side-submenu-item hm-text-size-13">
					Settings
				</div>
	    	</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">group</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">My Team</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">attach_money</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">My Finances</div>
	    </div>
	    
	    <div class="hm-side-menu-link  focus" hm-url="org">
	    	<div class="text-center">
	    		<i class="material-icons">apartment</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Organization</div>
	    	<div class="hm-side-submenu p-2">
	    		<a href="" class="hm-side-submenu-item hm-text-size-13">
					Dashboard
				</a>
				<a class="hm-side-submenu-item hm-text-size-13" href="/org/employees">
					Employees
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Org Structure
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Exit Details
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Documents
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Engage
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Assets
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Helpdesk
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Analytics
				</a>
				<a class="hm-side-submenu-item hm-text-size-13">
					Reports
				</a>
				
	    	</div>	
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">work</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Projects</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">insert_chart</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Performance</div>
	    </div>
	    <div class="hm-side-menu-link " >
	    	<div class="text-center">
	    		<i class="material-icons">receipt</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Payroll</div>
	    </div>
	    
	    
    </nav>
</div>
