
<div class="hm-side-menu-outer" hm-hook="ready" hm-action="activeSideMenuParentLink">
    <div class="text-center hm-vpd-8">
    	<a href="/">
            <img src="<%= baseUrl %>/img/logo-white.png" alt="logo" height="16">
        </a>
    </div>
    <nav class="" hm-hook="ready" hm-action="activeSideMenuChildLink">
    	<div class="hm-side-menu-link" hm-link="/" hm-url="/" hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">home</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Home</div>
	    </div>
	    <div class="hm-side-menu-link" hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">person</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Me</div>
	    </div>
	    <div class="hm-side-menu-link " hm-url="attendance"hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">access_time</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Attendance</div>
	    	<div class="hm-side-submenu p-2 hm-text-size-13">
	    		<a class="hm-side-submenu-item" href="/attendance/my-attendance">
					My Attendance
				</a>
				<a class="hm-side-submenu-item" href="/attendance/my-attendance-requests">
					My Attendance Requests
				</a>
				<a class="hm-side-submenu-item" href="/attendance/my-wfh-requests">
					My Work From Home Req.
				</a>
				<a class="hm-side-submenu-item" href="">
					Reports
				</a>
				<a class="hm-side-submenu-item" href="">
					Analytics
				</a>
	    	</div>
	    </div>
	    <div class="hm-side-menu-link " hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">group</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">My Team</div>
	    </div>
	    <div class="hm-side-menu-link " hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">attach_money</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">My Finances</div>
	    </div>
	    
	    <div class="hm-side-menu-link  focus" hm-url="org"hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">apartment</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Organization</div>
	    	<div class="hm-side-submenu p-2 hm-text-size-13">
	    		<a href="" class="hm-side-submenu-item">
					Dashboard
				</a>
				<a class="hm-side-submenu-item" href="/org/employees">
					Employees
				</a>
				<a class="hm-side-submenu-item">
					Org Structure
				</a>
				<a class="hm-side-submenu-item">
					Exit Details
				</a>
				<a class="hm-side-submenu-item">
					Documents
				</a>
				<a class="hm-side-submenu-item">
					Engage
				</a>
				<a class="hm-side-submenu-item">
					Assets
				</a>
				<a class="hm-side-submenu-item">
					Helpdesk
				</a>
				<a class="hm-side-submenu-item">
					Analytics
				</a>
				<a class="hm-side-submenu-item">
					Reports
				</a>
				
	    	</div>	
	    </div>
	    <div class="hm-side-menu-link " hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">work</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Projects</div>
	    </div>
	    <div class="hm-side-menu-link " hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">insert_chart</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Performance</div>
	    </div>
	    <div class="hm-side-menu-link " hm-hook="click" hm-action="hmSideMenuLink">
	    	<div class="text-center">
	    		<i class="material-icons">receipt</i> 
	    	</div>
	    	<div class="hm-text-size-11 text-center">Payroll</div>
	    </div>
	    
	    
    </nav>
</div>
