<section class="hm-side-panel-wrapper" id="panelAddNewLocation">
    <div class="hm-side-panel hm-side-panel-small">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">add</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal"> Add Location</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelAddNewLocation');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  p-4">
            <div class="form-group ">
                <label class=""><sup class="text-danger">*</sup>Title</label>
                <input type="text" class="form-control" required="">
                <div class="hm-input-error-msg">
                    Required Field!
                </div>
            </div>
           
            <div class="form-group">
                <label class=""><sup class="text-danger">*</sup>Address</label>
                <textarea class="form-control" id="" rows="3" required=""></textarea>
                <div class="hm-input-error-msg">
                    Required Field!
                </div>
            </div>
            <div class="form-group ">
                <label class="">Mail Alias</label>
                <input type="text" class="form-control" required="">
            </div>

            <div>
                <button type="button" class="btn btn-primary" onclick="dummyPanelSave('Location Added Successfully !', 'success', '#panelAddNewLocation')">Add Location</button>
                <button type="button" class="btn btn-white" hmclose="panel" onclick="closeSidePanel('#panelAddNewLocation');">Close</button>
            </div>
            
        </div>
    </div>
</section>