.animate-wrapper {
    overflow: hidden;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.animate-fade-left {
  opacity: 0;
  -webkit-animation: fadeInLeft .5s ease-in-out 0s forwards;
          animation: fadeInLeft .5s ease-in-out 0s forwards;
}


.animate-zoomIn {
  -webkit-animation-name: zoomIn ease 1s;
  animation: zoomIn ease 1s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    opacity: 1;
  }
}