.hm-bg-dull{
    background: $bgDull;
}
.hm-bg-dark-blue{
    background: $txtDarkBlue;
}
.hm-bg-orange{
    background: $bgOrange;
}

.hm-bg-green{
    background: $txtGreen;
}

.hm-bg-red{
    background: $txtSFred;
}

.hm-bg-white{
    background: $white;
}

.hm-bg-none{
    background: none;
}