.hm-bg-dull{
    background: $HMbgDull;
}
.hm-bg-primary{
    background: $HMbgPrimary;
}
.hm-bg-secondary{
    background: $HMbgSecondary;
}
.hm-bg-orange{
    background: $HMbgOrange;
}

.hm-bg-green{
    background: $HMbgGreen;
}

.hm-bg-red{
    background: $HMbgRed;
}

.hm-bg-white{
    background: $HMwhite;
}

.hm-bg-none{
    background: none;
}