@media only screen and (max-width: 767px) {

  .hm-sm-grid-wrap{
    flex-wrap: wrap;
  }
  .hm-sm-wrap-reverse{
    flex-wrap: wrap-reverse;
  }
  .hm-sm-grid-align-h-start{
    justify-content: flex-start;
  }
  .hm-sm-grid-align-h-end{
    justify-content: flex-end;
  }
  .hm-sm-slds-grow{
    flex-grow: 1;
  }

  .hm-sm-slds-shrink{
    flex-shrink: 1;
  }
  
  .hm-sm-img-size-48{
    width: 48px;      
  }
  .hm-sm-img-size-40{
    width: 40px;      
  }

  


  /* -----------text style start----------------- */
    @each $size in $textsizes {
      .hm-sm-text-size-#{$size} {
        font-size: #{$size}px;
      }
    }

    .hm-sm-text-center{
        text-align: center;
    }
    .hm-sm-text-left{
        text-align: left;
    }
    .hm-sm-text-right{
        text-align: right;
    }
  /* -----------border style start----------------- */
    @each $side in $sides{
      .hm-sm-line-#{$side} {
        border-#{$side}: 1px solid #eee;
      }
    }



    @each $side in $sides{
      .hm-sm-line-#{$side}-none {
        border-#{$side}: none;
      }
    }

    @each $side in $sides{
      .hm-sm-line-semi-black-#{$side} {
        border-#{$side}: 1px solid rgba(0,0,0,.2);
      }
    }

    @each $side in $sides{
      .hm-sm-line-semi-white-#{$side} {
        border-#{$side}: 1px solid rgba(255,255,255,.5);
      }
    }

    @each $side in $sides{
      .hm-sm-line-semi-white-#{$side}-none {
        border-#{$side}: none;
      }
    }
    .hm-sm-line-none{
      border:none;
    }

    



  /* -----------space style start----------------- */
    @each $space in $spaceamounts {
      .hm-sm-mr-#{$space} {
        margin: #{$space}px;
      }
      .hm-sm-pd-#{$space} {
        padding: #{$space}px;
      }
    }

    @each $space in $spaceamounts {
      @each $side in $sides {
        .hm-sm-#{str-slice($side, 0, 1)}mr-#{$space} {
          margin-#{$side}: #{$space}px;
        }
      
        .hm-sm-#{str-slice($side, 0, 1)}pd-#{$space} {
          padding-#{$side}: #{$space}px;
        }
      }
    }

    @each $space in $spaceamounts {
      .hm-sm-vmr-#{$space} {
        margin-top: #{$space}px;
        margin-bottom: #{$space}px;
      }
      .hm-sm-vpd-#{$space} {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;
      }
    }

    @each $space in $spaceamounts {
      .hm-sm-hmr-#{$space} {
        margin-left: #{$space}px;
        margin-right: #{$space}px;
      }

      .hm-sm-hpd-#{$space} {
        padding-left: #{$space}px;
        padding-right: #{$space}px;
      }
    }

  /* -----------other style start----------------- */
    .hm-sm-view-inline{
        display: inline-block;
    }

    .hm-sm-view-block{
        display: block;
    } 

    .hm-sm-w-full{
      width: 100%;
    }

    .hm-sm-show{
      display: block;
    }
    .hm-sm-hide, .ui.table:not(.unstackable) td.hm-sm-hide, .ui.table td.hm-sm-hide {
      display: none !important;
    }

    
 
}