.hm-has-top-menu .hm-main-view, .hm.hm-has-top-menu .hm-main-view{
    margin-top: 60px;
}
.hm-has-side-menu .hm-main-view, .hm.hm-has-side-menu .hm-main-view{
    margin-left: 80px;
}
.hm-has-side-menu .hm-navbar, .hm.hm-has-side-menu  .hm-navbar{
    margin-left: 80px;
}
