.hm-scroll-y-auto{
    overflow-y: auto;
}
.hm-scroll-x-auto{
    overflow-x: auto;
}
.hm-scroll-auto{
    overflow: auto;
}
.hm-scroll-hide{
    overflow: hidden;
}
.hm-scroll-show{
    overflow: visible;
}