.hm-simple-tab-nav{
    display: flex;
    border-bottom: 1px solid #ddd;
}

.hm-simple-tab-nav .hm-tab-link {
    background-color: transparent;
    color: #333;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.hm-simple-tab-nav .hm-tab-link:after {
    content: ""; 
    background:#9c27b0; 
    height: 2px; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
     transform: scale(0); 
}
.hm-simple-tab-nav .hm-tab-link:hover:after {
    transform: scale(1);
}
.hm-simple-tab-nav .hm-tab-link:hover {
    background-color: transparent;
    color: #9c27b0;
}
.hm-simple-tab-nav .hm-tab-link.active {
    color: #9c27b0;
   
}
.hm-simple-tab-nav .hm-tab-link.active:after {
   transform: scale(1);
   
}