@each $space in $spaceamounts {
  .hm-mr-#{$space} {
    margin: #{$space}px;
  }
  .hm-pd-#{$space} {
    padding: #{$space}px;
  }
}

@each $space in $spaceamounts {
  @each $side in $sides {
    .hm-#{str-slice($side, 0, 1)}mr-#{$space} {
      margin-#{$side}: #{$space}px;
    }
  
    .hm-#{str-slice($side, 0, 1)}pd-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

@each $space in $spaceamounts {
  .hm-vmr-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }
  .hm-vpd-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }
}

@each $space in $spaceamounts {
  .hm-hmr-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }

  .hm-hpd-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }
}

.hm-mr-0-auto{
  margin-left:auto;
  margin-right:auto;
}