$white: #ffffff;

// text color
$txtBlue:#00bcd4;
$txtPurple:#9c27b0;
$txtDarkBlue:#16325c;
$txtGreen:#4caf50;
$txtOrange:#f2ac57;
$txtDefault:#333;
$txtGray:#5876a3;
$txtDull:#999;
$txtWeak:#706e6b;
$txtRed:#f44336;
$txtSFred:#c23934;

// background color
$bgDull:#f7f8f9;
$bgGreen:#4caf50;
$bgOrange:#ffb75d;
$bgGray:#12123a;
$bgRed:#f44336;
$bgSFred:#12123a;

// border color

$border:#dddbda;



$spaceamounts: (-24,-20,-15,-10,-5,0, 2, 3, 5, 8, 10, 15, 20, 24, 30, 40, 50, 60, 75, 100, 150, 200); // Adjust this to include the pixel amounts you need.
$textsizes: (9, 10, 11, 12, 13, 14, 16, 18, 21, 24, 28, 30, 36, 40, 48);
$radiussizes: (0, 4, 8, 10, 16, 500);
$maxwidths: (100, 150, 200, 250, 300, 350, 400, 450, 500, 600, 800, 1000);
$minwidths: (50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 600);
$minheights: (50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 600, 800);
$sides: (top, bottom, left, right);