.hm-navbar{
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #ccccff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.hm-nav-company-logo{
    max-height: 32px;
    max-width: 50px;
}