<section class="hm-side-panel-wrapper " id="panelAddLeaveType">
    <div class="hm-side-panel hm-side-panel-large">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">add</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal">Add New Leave Type</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelAddLeaveType');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  px-4">
            <div class="hm-wizard-wrapper " style="height: 100%;" id="leaveTypeWizard">
                <div class="row" style="height: 100%;">
                    <div class="col-12 col-md-3 border-right">
                        <div class="hm-wizard-step-wrapper hm-step-vertical">
                            <div class="hm-wizard-step active" hm-direct-step="wizard" hm-step="1" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        1
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Basic Info  
                                    </div>
                                </div>
                            </div> 

                            <div class="hm-wizard-step " hm-direct-step="wizard" hm-step="2" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        2
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Leave Quota & Allotment 
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="3" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        3
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Leave Restrictions 
                                    </div>
                                </div>
                            </div>
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="4" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        4
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Holidays & Weekends  
                                    </div>
                                </div>
                            </div>
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="5" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        5
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Leave Approval 
                                    </div>
                                </div>
                            </div>
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="6" hm-hook="click" hm-action="hmWizardDirectStep">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        6
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Year End Processing 
                                    </div>
                                </div>
                            </div> 

                        </div>

                    </div>
                    <div class="col-12 col-md-9 ">
                        <div class="hm-wizard-content-wrapper">
                            <!-- step-1 -->
                            <section class="hm-step-content active" hm-step-content="1">
                                <div class="px-3">
                                    <h3>
                                        Basic Info
                                    </h3>
                                    <div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 ">
                                                <div class="form-group">
                                                    <label for=""><sup class="text-danger">*</sup>Title</label>
                                                    <input type="text" class="form-control" id="" required="">
                                                    <div class="hm-input-error-msg">
                                                        Required Field!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 ">
                                                <div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="lvType"  value="" checked="">
                                                            Paid 
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="lvType" value="">
                                                            Unpaid 
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="">Description</label>
                                            <textarea class="form-control" id="" rows="2"></textarea>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 2});">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>


                            <section class="hm-step-content " hm-step-content="2">
                                <div class="px-3">
                                    <h3>
                                        Leave Quota & Allotment
                                    </h3>
                                    <section class="mb-4">
                                        <div>
                                            <div class="row no-gutters align-items-end mb-3">
                                                <p>
                                                    Effective After
                                                </p>
                                                <div class="pl-3">
                                                    <input type="number" class="form-control" min="1" max="365" placeholder="0" value="2">
                                                </div>
                                                <div class="pl-3">
                                                    <select id="" class="form-control">
                                                        <option>Days</option>
                                                        <option>Months</option>
                                                        <option>Years</option>
                                                    </select>
                                                </div>
                                                <div class="pl-3">
                                                    <select id="" class="form-control">
                                                        <option>Date of Joining</option>
                                                        <option>Date of Confirmation</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <p>
                                            Whate is the annual quata  for an employee of  this [title] leave? 
                                        </p>
                                        <div class="">
                                            <div class="row no-gutters align-items-end mb-3">
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvAnnualQuota"  value="" checked="">
                                                        Limit to
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="pl-3">
                                                    <input type="number" class="form-control" min="1" max="365" placeholder="Days" value="1">
                                                </div>
                                                <p>
                                                    days per year
                                                </p>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lvAnnualQuota"  value="">
                                                    Unlimited 
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                                <i class="material-icons hm-help-tip hm-text-size-16 hm-valign-middle" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">live_help</i>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="mb-4">
                                        <p>
                                            How will quota of leaves assign to an employee?
                                        </p>
                                        <div class="" >

                                            <div class="form-check form-check-radio hm-bmr-15">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lvQuotaAvail"  hm-watch="radio"  checked="">
                                                    Entire leave quota can be availed anytime during the year 
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lvQuotaAvail"   hm-watch="radio" hm-extra-view="#leaveInterval">
                                                    Leave are earn at regular intervals 
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="hide" id="leaveInterval">
                                                <div class="row no-gutters align-items-end mb-3">
                                                    <div class="pl-3">
                                                        <input type="number" class="form-control" min="1" max="365" placeholder="Days" value="1">
                                                    </div>
                                                    <p>
                                                        Day(s) 
                                                    </p>
                                                    <div class="pl-3">
                                                        <select id="" class="form-control">
                                                            <option>Monthly</option>
                                                            <option>Quaterly</option>
                                                            <option>Half Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>

                                    <section class="mb-4">
                                        <p>
                                            Does the credited Leave will expire after some time?
                                        </p>
                                        <div class="">
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lvAllotmentExpire"  value="" checked="">
                                                    No. Leave do not expire.
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>

                                            </div>
                                            <div class="row no-gutters align-items-end mb-3">
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvAllotmentExpire"  value="" >
                                                        Yes. Leave will expire after 
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="pl-3">
                                                    <input type="number" class="form-control" min="1" max="365" placeholder="Days" value="1">
                                                </div>
                                                <p>
                                                    days from the date of allotment.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                No leave allotment when an employee is under notice period. 
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            <i class="material-icons hm-help-tip hm-text-size-16 hm-valign-middle" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">live_help</i>
                                        </div>
                                    </section>
                                    <div>
                                        <div class="mt-4">
                                            <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 1});">
                                                Previous
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 3});">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                            <section class="hm-step-content " hm-step-content="3">
                                <div class="px-3">
                                    <h3>
                                        Leave Restrictions
                                    </h3>
                                    
                                    <section class="row mb-3">
                                        <div class="col-12 col-md-4">
                                            <p>
                                                Gender
                                            </p>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Male
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Female
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Other
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="row mb-3">
                                        <div class="col-12 col-md-4">
                                            <p>
                                                Marital Status
                                            </p>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Single
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Married
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row mb-3">
                                            <div class="col-12 col-md-4">
                                                <p>
                                                    Leave Duration(s) Allowed :
                                                </p>
                                            </div>
                                            
                                            <div class="col-12 col-md-8">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" checked="">
                                                        Full Day
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">
                                                        Half Day
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row no-gutters align-items-end mb-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Enable file upload option if the applied leave period exceeds
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="pl-3">
                                                <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                            </div>
                                            <p>
                                                days.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row no-gutters align-items-end mb-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Leave Application should be submitted before
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="pl-3">
                                                <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                            </div>
                                            <p>
                                                days.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row no-gutters align-items-end mb-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Maximum number of consecutive days of Leave allowed
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="pl-3">
                                                <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                            </div>
                                            <p>
                                                days.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row no-gutters align-items-end mb-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Minimum gap (in days) between two applications
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="pl-3">
                                                <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                            </div>
                                            <p>
                                                days.
                                            </p>
                                        </div>
                                    </section>
                                    <section class="mb-4">
                                        <div class="row no-gutters align-items-end mb-2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    Maximum leave that can be availed in a month
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="pl-3">
                                                <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                            </div>
                                            <p>
                                                days.
                                            </p>
                                        </div>
                                    </section>

                                    <section class="mb-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                Restrict employee to apply for Leave in notice period.
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </section>

                                    <div>
                                        <div class="form-group">
                                            <label for="">This leave cannot be taken together with</label>
                                            <input type="text" class="form-control">
                                            <div class="hm-input-error-msg">

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 2});">
                                            Previous
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 4});">
                                            Next
                                        </button>
                                    </div>
                                </div>

                            </section>
                            
                            <section class="hm-step-content " hm-step-content="4">
                                <div class="px-3">
                                    <h3>
                                        Holidays & Weekends
                                    </h3>

                                    <section class="mb-4">
                                        <p>
                                            Weekends Between Leave Period :
                                        </p>
                                        <div class="">
                                            <div class="row no-gutters align-items-end mb-2">
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvBtwWeekends" checked="">
                                                        Count as leave: Count after leaves exceed
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="pl-3">
                                                    <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                                </div>
                                                <p>
                                                    days.
                                                </p>
                                            </div>

                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lvBtwWeekends" >
                                                    Don't count as leave
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="mb-4">
                                        <p>
                                            Holidays Between Leave Period :
                                        </p>
                                        <div class="">
                                            <div class="row no-gutters align-items-end mb-2">
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvBtwHolidays" checked="">
                                                        Count as leave: Count after leaves exceed
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="pl-3">
                                                    <input type="number" class="form-control" min="1" max="365" placeholder="0">
                                                </div>
                                                <p>
                                                    days.
                                                </p>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvBtwHolidays" >
                                                        Don't count as leave
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                If half day leave is taken then this rule doesn’t applied.
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </section>


                                    <div>
                                        <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 3});">
                                            Previous
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 5});">
                                            Next
                                        </button>
                                    </div>
                                </div>

                            </section>

                            <section class="hm-step-content " hm-step-content="5">
                                <div class="px-3">
                                    <h3>
                                        Leave Approval
                                    </h3>
                                    <section class="mb-4">
                                        <div >
                                           
                                            <p>
                                                Approval is required for this Leave?
                                            </p>
                                            <div>
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvApprovalReq"   hm-watch="radio" checked="">
                                                        No, Employee can take this Leave without approval.
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="lvApprovalReq"   hm-watch="radio" hm-extra-view="#leaveApprovalReq">
                                                        Yes, Approval is required.
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="hide mb-5 ml-5" id="leaveApprovalReq">
                                                    
                                                    <div class="hm-leave-approval-level-wrapper">
                                                        <!-- level -->
                                                        <div class="mb-4">
                                                            <div class="row no-gutters">
                                                                <div class="hm-col">
                                                                    <div class="hm-text-normal">
                                                                        <span class="badge badge-pill badge-info">Level 1</span>  Approvers
                                                                    </div>
                                                                </div>
                                                                <div class="pl-3">
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="hm-bg-dull p-3 hm-radius-8  ml-3 mt-2">
                                                                <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                                            </div>
                                                        </div>
                                                        <!-- level -->
                                                        <div class="mb-4">
                                                            <div class="row no-gutters">
                                                                <div class="hm-col">
                                                                    <div class="hm-text-normal">
                                                                        <span class="badge badge-pill badge-info">Level 2</span>  Approvers
                                                                    </div>
                                                                </div>
                                                                <div class="pl-3">
                                                                    <button class="btn btn-white hm-mr-0 hm-pd-5" title="Delete Level">
                                                                        <i class="material-icons">close</i>
                                                                    </button> 
                                                                </div>
                                                            </div>
                                                            <div class="hm-bg-dull p-3 hm-radius-8  ml-3 mt-2">
                                                                <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-white btn-sm">
                                                            Add New Level
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </section>
                                    <div>
                                        <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 4});">
                                            Previous
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 6});">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </section>

                            <section class="hm-step-content" hm-step-content="6">
                                <div class="px-3">
                                    <h3>
                                        Year End Processing
                                    </h3>

                                    <section class="mb-4">
                                        <p>
                                            At the end of the year :
                                        </p>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="lvBalYearEnd"  value="">
                                                All Leave balances expire. 
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="lvBalYearEnd"  value="">
                                                All Leave balances get paid to employee.
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="lvBalYearEnd"  value="">
                                                All Leave balances get carried forward to the next year.
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </section>
                                    <div>
                                        <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#leaveTypeWizard', step : 5});">
                                            Previous
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="dummyPanelSave('Leave Type Added Successfully !', 'success', '#panelAddLeaveType')">
                                            Done
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>




        </div>

    </div>
</section>