<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
</head>

<body class="hm hm-has-top-menu hm-has-side-menu">
    <header>
        <% include ./partials/header %>
    </header>
    <aside>
        <% include ./partials/side-menu %>
    </aside>

    <main class="hm-main-view">
        <div class="p-3">
            
            
            
            <div class="form-group">
                <label class="bmd-label-static">Title</label>
                <select id="aa" class="form-control dropdown-search"   multiple="multiple"></select>
                <div class="hm-input-error-msg">
                    Required Field!
                </div>
            </div>
            <img src="" alt="">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="pr-3">
                            <i class="fa fa-cog fa-spin fa-5x"></i>
                        </div>
                        <div class="hm-col">
                            <h1 class="display-4"> Home Dashboard</h1>
                            <p class="lead">Under Construction Will Come Soon... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    </footer>

    

<script>

        


$(document).ready(function(){

    /*var data = [{
        id: 0,
        text: '<div style="color:green">enhancement</div>',
        html: '<div style="color:green">enhancement</div><div><b>Select2</b> supports custom themes using the theme option so you can style Select2 to match the rest of your application.</div>',
        title: 'enchancement'
    }, {
        id: 1,
        text: '<div style="color:red">bug</div>',
        html: '<div style="color:red">bug</div><div><small>This is some small text on a new line</small></div>',
        title: 'bug'
    }];*/
    $.ajax({
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        url:'https://reqres.in/api/users',
        success: function(result) {
            //console.log(result.data);
            $("#aa").select2({
                //maximumInputLength: 20,
                //minimumInputLength: 1,
                data: result.data,
                //cache: true,
                //multiple: true,
              
               
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: function(data) {
                    return '<span>'+data.first_name+'</span>';
                },
                templateSelection: function(data) {
                    return '<span>'+data.first_name+'</span>';
                }
            });
            //$('#aa').val(['1', '2']).trigger('change');
        },  
        error: function() {
           
        }
    });
    //$("#aa").select2("val", ["1", "2"]);

   /* $( "#aa" ).select2({        
  ajax: {
    url: "https://reqres.in/api/users",
    dataType: 'json',
    delay: 0,
    data: function (params) {
      return {
        q: params.term // search term
      };
    },
    processResults: function (data) {
      // parse the results into the format expected by Select2.
      // since we are using custom formatting functions we do not need to
      // alter the remote JSON data
      return {
        results: $.map(data.data, function(obj) {
            return { id: obj.id, text: obj.first_name };
        })

      };

    },
    cache: false
  },
  minimumInputLength: 1
});*/



});



    

        
</script>
</body>
</html>
