<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body class="hm hm-has-top-menu hm-has-side-menu">
    <header>
        <% include partials/header %>
    </header>
    <aside>
        <% include partials/side-menu %>
    </aside>
    <style>
        .hm-widget-warpper{
            position: relative;
            min-height: 322px;
        }
        .hm-widget-color-bar{
            position: absolute;
            height: 90%;
            width: 6px;
            top: 5%;
            left: 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #aaa;
            opacity: 0.7;
        }
    
        .hm-upcoming-holiday{
            background: linear-gradient(90deg, rgba(208,64,240,.3), rgba(71,183,222,.3));
            position: relative;
        }
        .hm-upcoming-holiday-thumb{
            position: absolute;
            right: 10px;
            bottom: 0;
            width: 80px;
            height: 80px;
            opacity: .1;
        }

        .hm-local-spinner-wrapper {
            position: absolute;
            background: rgba(255, 255, 255, 0.8);
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 100;
        }

        @-webkit-keyframes fadeInLeft {
          from {
            opacity: 0;
            -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
          }
          to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
          }
        }
        @keyframes fadeInLeft {
          from {
            opacity: 0;
            -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
          }
          to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
          }
        }
        .animate-wrapper {
            overflow: hidden;
        }
        .animate-fade-left {
          opacity: 0;
          -webkit-animation: fadeInLeft .5s ease-in-out 0s forwards;
                  animation: fadeInLeft .5s ease-in-out 0s forwards;
        }


        
        .hm-loading-line {
          border-radius: 4px;
          height: 10px;
          margin: 10px;
          -webkit-animation: pulse 1s infinite ease-in-out;
                  animation: pulse 1s infinite ease-in-out;
        }

        .hm-loading-line-w-80 {
          width: 80%;
        }
        .hm-loading-line-w-75 {
          width: 75%;
        }
        .hm-loading-line-w-70 {
          width: 70%;
        }
        .hm-loading-line-w-50 {
          width: 50%;
        }
        .hm-loading-line-w-25 {
          width: 25%;
        }
        
        @-webkit-keyframes pulse {
          0% {
            background-color: rgba(165, 165, 165, 0.1);
          }
          50% {
            background-color: rgba(165, 165, 165, 0.3);
          }
          100% {
            background-color: rgba(165, 165, 165, 0.1);
          }
        }

        @keyframes pulse {
          0% {
            background-color: rgba(165, 165, 165, 0.1);
          }
          50% {
            background-color: rgba(165, 165, 165, 0.3);
          }
          100% {
            background-color: rgba(165, 165, 165, 0.1);
          }
        }

    </style>
    <main class="hm-main-view">
        <div class="p-3">
            <div class="row">
                <div class="col-12 col-md-4">
                    <% include home-dashboard-widgets/widgetTimesheet/widget_Timesheet %>
                </div>
                <div class="col-12 col-md-4">
                    <% include home-dashboard-widgets/widgetTodo/widget_Todo %>
                </div>
                <div class="col-12 col-md-4">
                    <% include home-dashboard-widgets/widgetUpcomingHolidays/widget_UpcomingHolidays %>
                </div>
                
                <div class="col-12 col-md-4">
                    <% include home-dashboard-widgets/widgetNotApproved/widget_NotApproved %>
                </div>

                <div class="col-12 col-md-4">
                    <% include home-dashboard-widgets/widgetQuickLinks/widget_QuickLinks %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
        <script>
            function dummyWidgetLoader(widgetId, time){
                setTimeout(function(){
                    $('.hm-widget-loader', widgetId).add('.hm-widget-content', widgetId).toggleClass('hide');
                }, time);
            }
            $(document).ready(function(){
              dummyWidgetLoader('#upcomingholidaysWrapper', 2000);
              dummyWidgetLoader('#empTodoWidgetWarpper', 1500);
              dummyWidgetLoader('#QuickLinkWidgetWarpper', 1000);
              dummyWidgetLoader('#notApprovedWidgetWarpper', 1000);
            });
        </script>
    </footer>

</body>
</html>
