<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

<body class="hm hm-has-top-menu hm-has-side-menu">
    <header>
        <% include ./partials/header %>
    </header>
    <aside>
        <% include ./partials/side-menu %>
    </aside>

    <main class="hm-main-view">
        <div class="p-3">
            <style>
                .hm-lookup-pills-wrapper{
                    min-height: 36px;
                    border-bottom: 2px solid #ddd;
                    cursor: pointer;
                }

            </style>
            <div>
                <div class="form-group" id="example">
                    <label for="" class=""><sup class="text-danger">*</sup>Country</label>
                    <select id="" class="form-control" required="">
                        <option>1111</option>
                        <option>2222</option>
                        <option>3333</option>
                        <option>4444</option>
                        <option>5555</option>
                        <option>6666</option>
                    </select>
                    <div class="hm-lookup-pills-wrapper">
                        
                    </div>
                    <div class="hm-lookup-results-wrapper" style="background: yellow;">
                        
                    </div>
                    <div class="hm-input-error-msg">
                        Required Field!
                    </div>
                </div>
            </div>

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="pr-3">
                            <i class="fa fa-cog fa-spin fa-5x"></i>
                        </div>
                        <div class="hm-col">
                            <h1 class="display-4"> Home Dashboard</h1>
                            <p class="lead">Under Construction Will Come Soon... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>

        $(document).ready(function(){
            hmLookup({ 
                lookupId: '#example',
                url: 'https://jsonplaceholder.typicode.com/users',
                srchTerm: 'name'
            });

            hml({ 
                lookupId: '#example',
                url: 'https://jsonplaceholder.typicode.com/users',
                srchTerm: 'name'
            });
        });

        function hmLookup(option){
           
            var loopup = $(option.lookupId);
            $('select', loopup).hide();
            var resultsList = $('.hm-lookup-results-wrapper', loopup);

            $('.hm-lookup-pills-wrapper',loopup).click(function(){
                $.ajax({
                  type:"GET",
                  url:option.url,
                  success: function(data) {
                    //console.log(data);
                    lookupListing(option.lookupId, data);
                    //var liItem =                  data.filter(x=>x[option.srchTerm].toLowerCase().includes(term.toLowerCase()));
                    //window[option.listingFn](option, liItem, autoInput);
                  },
                  error: function() {
                    //$(ele).addClass('auto-comp-active');
                    //$(autoSpin).addClass('hide');
                  }
                });
            });
        }

        function lookupListing(id, data){
            $.each(data, function(n, item){
                let HTML = `<p class="" hm-lookup-item-id="`+item.id+`"> ` + item.name+ `</p>`;
                
                $(id+' .hm-lookup-results-wrapper').append(HTML).click(function(){
                    lookupSelect(id, this)
                });
                
                
                //$(this).bind(lookupSelect(id, this))
            });
        }
        function lookupSelect(id, ele){
            let HTML = `<span class="hm-pill" > ` + $(ele).text()+ `</span>`;
            $(id+' .hm-lookup-pills-wrapper').append(HTML);
        }

        ;(function(global, $) {
            var hml = function(option) {
                return new hml.init(option);   
            }

            hml.prototype = {
        
                // 'this' refers to the calling object at execution time
                fullName: function() {
                    return this;   
                }
            };
            

            // the actual object is created here, allowing us to 'new' an object without calling 'new'
            hml.init = function(option) {
                var self = this;
                //var self.option = option;
            }
            
            // trick borrowed from jQuery so we don't have to use the 'new' keyword
            hml.init.prototype = hml.prototype;

        }(window, jQuery));
</script>
</body>
</html>
