<div class="card p-3 hm-tmr-0">
    <section class="hm-tab-wrapper">
        <div class="hm-tab-nav-wrapper hm-simple-tab-nav">
            <div class=" hm-tab-link  btn active" hmtab="onboarding">
                Onboarding
            </div>
            <div class=" hm-tab-link  btn" hmtab="empExitSettings">
                Exit Settings
            </div>
        </div>
        <div class="hm-tab-content-wrapper">
            <div class="hm-tab-content active" hmtab="onboarding">
                <div class="pt-2">
                    <h3 class="hm-mr-0">
                        Onboarding
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
                <div class=" mt-4">
                    
                    <div class="">
                        <div class="row">
                            
                            <div class="col-12 col-lg-5 ">
                                <div class="form-group">
                                    <label for="">Welcome Message</label>
                                    <textarea class="form-control" id=""></textarea>
                                </div>
                                <div class="form-group ">
                                    <label>Person who assist new joinee</label>
                                    <input type="text" class="form-control" >
                                </div>
                                <div>
                                    <button class="btn btn-primary">
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-1"></div>
                            <div class="col-12 col-lg-6">
                                <section class="mb-4">
                                    <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-150">
                                        <h4 class="hm-mr-0">
                                           Onboarding Task List For HR
                                        </h4>
                                        <div class="row no-gutters">
                                            <div class="hm-col">
                                                <div class="form-group hm-tpd-10">
                                                    <input type="text" class="form-control" required="" placeholder="Add Task...">
                                                    <div class="hm-input-error-msg">
                                                        Required!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pl-3">
                                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="text-muted">
                                                        <i class="material-icons">check_box_outline_blank</i>
                                                    </div>
                                                    <div class="hm-col px-2" >
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="text-muted">
                                                        <i class="material-icons">check_box_outline_blank</i>
                                                    </div>
                                                    <div class="hm-col px-2" >
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </section>
                                <section class="mb-4">
                                    
                                    <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-150">
                                        <h4 class="hm-mr-0">
                                           Onboarding Task List For Employee
                                        </h4>
                                        <div class="row no-gutters">
                                            <div class="hm-col">
                                                <div class="form-group hm-tpd-10">
                                                    <input type="text" class="form-control" required="" placeholder="Add Task...">
                                                    <div class="hm-input-error-msg">
                                                        Required!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pl-3">
                                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="text-muted">
                                                        <i class="material-icons">check_box_outline_blank</i>
                                                    </div>
                                                    <div class="hm-col px-2" >
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="text-muted">
                                                        <i class="material-icons">check_box_outline_blank</i>
                                                    </div>
                                                    <div class="hm-col px-2" >
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </section>
                            </div>

                            
                            

                        </div>

                        
                    </div>
                </div>
            </div>
           
            <div class="hm-tab-content " hmtab="empExitSettings">
                <div class="">
                    <div class="pt-2">
                        <h3 class="hm-mr-0">
                            Exit Settings
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet
                        </p>
                    </div>
                    <div class="mt-4">
                        <div class="py-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value=""> 
                                        Show Resignation Form for emplyees to be able to resign from HRM. 
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12 col-lg-5 ">
                               <section class="mb-4">
                                    <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-150">
                                        <h5 class="hm-mr-0">
                                           Voluntary Termination Reasons
                                        </h5>
                                        <div class="row no-gutters">
                                            <div class="hm-col">
                                                <div class="form-group hm-tpd-10">
                                                    <input type="text" class="form-control" required="" placeholder="Add Reason...">
                                                    <div class="hm-input-error-msg">
                                                        Required!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pl-3">
                                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Personal Reasons 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Relocating 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Explore Other careers 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="mb-2">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Other 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-12 col-lg-1"></div>
                            <div class="col-12 col-lg-5">
                                
                                <section class="mb-4">
                                    
                                    <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-150">
                                        <h5 class="hm-mr-0">
                                           Conpany Termination Reasons
                                        </h5>
                                        <div class="row no-gutters">
                                            <div class="hm-col">
                                                <div class="form-group hm-tpd-10">
                                                    <input type="text" class="form-control" required="" placeholder="Add Reason...">
                                                    <div class="hm-input-error-msg">
                                                        Required!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pl-3">
                                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                           <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Resignation 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Absconding 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Death 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Medical Condition 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Performance Issue 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Misconduct 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- item -->
                                            <div class="py-1 hm-line-top">
                                                <div class="row no-gutters">
                                                    <div class="hm-col pr-2" >
                                                        Retirement 
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Edit">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" class="btn btn-white hm-mr-0 hm-pd-5" title="Delete">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </section>
                            </div>

                            
                            

                        </div>
                        

                        
                    </div>
                </div>
                
            </div>
           
        </div>
    </section>
</div>

<% include ../company/modals/modal_addNewLocation %>