<section id="upcomingholidaysWrapper">
    <div class="card hm-tmr-0 hm-widget-warpper" id="upcomingholidays">
        <div class="hm-widget-color-bar" style="background: hotpink;"></div>
        <div class="px-3 py-2">
            <div class="row no-gutters">
                <div class="hm-col animate-wrapper">
                    <h4 class="title hm-mr-0 animate-fade-left">
                        Upcoming Holidays
                    </h4>
                </div>
                <div>
                    <a href="#" onclick="hmToggleView('#upcomingholidays', '#allholidays')">View All</a>
                </div>
            </div>
        </div>
        <div class="px-4 hm-widget-loader">
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
        </div>
        <div class="hm-widget-content hide">
            <div class=" p-3 hm-upcoming-holiday">
                <img class="hm-upcoming-holiday-thumb" src="<%= baseUrl %>/img/holiday-thumb.png" alt="">
                <div class="mb-2">
                    <span class="hm-text-size-36">25</span>
                    <span class="">Monday, Dec 2019</span>
                </div>
                <div class="hm-text-size-18">
                    Christmas
                </div>
            </div>
            <div class=" hm-scroll-y-auto" style="height: 184px;">
                <div class="px-3 py-2">
                    <div>
                        <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                    </div>
                    <div class="hm-text-size-12 hm-text-dull">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="px-3 py-2">
                    <div>
                        <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                    </div>
                    <div class="hm-text-size-12 hm-text-dull">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card hm-tmr-0  hide" id="allholidays">
        <div class="p-2 hm-text-normal hm-line-bottom">
            <div class="row no-gutters align-items-center">
                <div class="pr-3">
                    <button type="button" class="btn btn-fab btn-round btn-white btn-sm" onclick="hmToggleView('#upcomingholidays', '#allholidays')">
                        <i class="material-icons">chevron_left</i>
                    </button>
                </div>
                <div class="hm-col">
                    <h4 class="title hm-mr-0">
                        All Holidays
                    </h4>
                </div>
                <div class="px-3">
                    Year
                </div>
                <div class="px-3">
                    <div class="form-group hm-pd-0 hm-mr-0">
                        <select id="" class="form-control">
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class=" hm-scroll-y-auto" style="height: 265px;">
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
            <div class="hm-line-top py-2 px-3">
                <div>
                    <span class="hm-text-thick hm-text-size-16">25</span> Monday, Dec 2019
                </div>
                <div class="hm-text-size-12 hm-text-dull">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
</section>