<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row no-gutters">
            <div class="pr-3">
                <i class="fa fa-cog fa-spin fa-5x"></i>
            </div>
            <div class="hm-col">
                <h1 class="display-4">  Directory</h1>
                <p class="lead">Under Construction Will Come Soon... </p>
            </div>
        </div>
    </div>
</div>