<section id="AnnouncementsWidgetWrapper">
    <div class="card hm-tmr-0 hm-widget-warpper" id="upcomingholidays">
        <div class="hm-widget-color-bar" style="background: darkviolet;"></div>
        <div class="mx-3 py-2">
            <div class="row no-gutters">
                <div class="hm-col animate-wrapper">
                    <h4 class="title hm-mr-0 animate-fade-left">
                        Announcements
                    </h4>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        <div class="px-4 hm-widget-loader">
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
        </div>
        <div class="hm-widget-content hide">
            <div class=" hm-scroll-y-auto" style="height: 184px;">
                <div class="p-4"> 
                    <div class="row no-gutters">
                        <div class="pr-3">
                             <i class="material-icons hm-text-size-48 hm-text-dull">sentiment_very_dissatisfied</i>
                        </div> 
                        <div class="hm-col">
                            <div class="text-danger hm-text-size-21 py-2">
                                Error!
                            </div>
                            <div>
                                Internal Server Error /hrm/v1/announcements.json
                            </div>
                            <div>
                                <a href="">Report Issue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>