<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body class="hm">
    <main class="hm-main-view">
        <section class="ml-auto mr-auto hm-max-w-500 px-3">
            <div class="mt-5">
                <div class="text-center">   
                    <img src="<%= baseUrl %>/img/company-logo.png" alt="" height="32">
                </div>
                <h3 class="text-center">
                    Athenalogics Solution Pvt. Ltd.    
                </h3> 
            </div>
            
            <div class="card p-4">
                <div class="row no-gutters">
                    <div class="hm-col">
                        <h3 class=" hm-mr-0">
                           Employee  Signup 
                        </h3>
                    </div>
                    <div class="pl-3">
                        <a href="">
                            <img src="<%= baseUrl %>/img/logo.svg" alt="" height="21">
                        </a>
                    </div>
                </div>
                
                <form class="form" method="post" action="/signupUser">
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating"><sup class="text-danger">*</sup>Email</label>
                            <input type="email" class="form-control" required="" name="email">
                            <div class="hm-input-error-msg">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating"><sup class="text-danger">*</sup>Password</label>
                            <input type="password" class="form-control" required="" name="password">
                            <span class="bmd-help hm-text-dull">Minimum 6 characters.</span>
                            <div class="hm-input-error-msg">
                                Required Field!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating"><sup class="text-danger">*</sup>Role</label>
                            <input type="text" class="form-control" required="" name="role">
                            <div class="hm-input-error-msg">
                                Please provide role!
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 ">
                        <div class="row no-gutters">
                            <div class="hm-col">
                                
                            </div>
                            <div class="pl-3">
                                <button type="submit" class="btn btn-primary ">
                                    Signup
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            
            </div>
            <div class="text-center">
                <span class="text-muted">
                    Already have an account?
                </span>
                <a href="/company/login">Login here.</a>
            </div>
            
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
        <script>
             
        </script>
    </footer>
</body>
</html>
