<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body class="hm">
    <main class="hm-main-view">
        <section class="ml-auto mr-auto hm-max-w-500 px-3">
            <div class="mt-5">
                <div class="text-center">   
                    <a href="">
                        <img src="<%= baseUrl %>/img/logo.png" alt="" height="24">
                    </a>
                </div>
            </div>

            <div class="card p-4">
                <div class="row no-gutters">
                    <div class="hm-col">
                        <h3 class="  hm-mr-0">
                           Create New Domain
                        </h3>
                    </div>
                    <div class="pl-3">

                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="signUpDomainName" id="signUpDomainName" placeholder="your_domain_name " required="" maxlength="20" onclick="hideErrorMessage(this);">
                            <div class="input-group-append">
                                <span class="input-group-text" >.hrm.com</span>
                            </div>
                        </div>
                        <span class="bmd-help hm-text-dull">letters, number and dashes only</span>
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="mt-4 ">
                        <div class="row no-gutters">
                            <div class="hm-col">

                            </div>
                            <div class="pl-3">
                                <button type="button" onclick="validateDomainforSignup(this);" class="btn btn-primary" id="validateDomainforSignup">
                                    Continue
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            
        </section>
        
    </main>
    <footer>
        <% include ../partials/footer %>
        <% include js/validateDomainJs %>
        <script>
                $('#signUpDomainName').keydown(function(event){
                    var keyCode = (event.keyCode ? event.keyCode : event.which);
                    if (keyCode == 13) {
                        $('#validateDomainforSignup').click();
                    }
                });
        </script>
    </footer>
</body>
</html>
