<section class="hm-side-panel-wrapper " id="panelAddNewTimePolicy">
    <div class="hm-side-panel hm-side-panel-large">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">add</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal">Add New Time Policy</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelAddNewTimePolicy');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  px-4">
            <div class="hm-wizard-wrapper " style="height: 100%;" id="timePolicyWizard">
                <div class="row" style="height: 100%;">
                    <div class="col-12 col-md-3 border-right">
                        <div class="hm-wizard-step-wrapper hm-step-vertical">
                            <div class="hm-wizard-step active" hm-direct-step="wizard" hm-step="1">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        1
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Basic Info  
                                    </div>
                                </div>
                            </div> 

                            <div class="hm-wizard-step " hm-direct-step="wizard" hm-step="2">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        2
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Late Arrival 
                                    </div>
                                </div>
                            </div> 
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="3">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        3
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Effective Working Hour
                                    </div>
                                </div>
                            </div>
                            <div class="hm-wizard-step" hm-direct-step="wizard" hm-step="4">
                                <div class="hm-wizard-step-inner">
                                    <div class="hm-wizard-step-count mr-2">
                                        4
                                    </div>
                                    <div class="hm-wizard-step-check mr-2">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="hm-wizard-step-text">
                                        Missing Punch Out
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 ">
                        <div class="hm-wizard-content-wrapper">
                            
                            <section class="hm-step-content active" hm-step-content="1">
                                <div class="px-3">
                                    <h3>
                                        Basic Info
                                    </h3>
                                    <div>
                                        <div class="form-group">
                                            <label for=""><sup class="text-danger">*</sup>Title</label>
                                            <input type="text" class="form-control" id="" required="">
                                            <div class="hm-input-error-msg">
                                                Required Field!
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="">Description</label>
                                            <textarea class="form-control" id="" rows="1"></textarea>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 2});">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>


                            <section class="hm-step-content " hm-step-content="2">
                                <div class="px-3">
                                    <h3>
                                        Late Arrival
                                    </h3>

                                     <div class="mb-4">
                                        <p>
                                            Penalize (Mark LOP) for late arrival?
                                        </p>
                                        <div class="">
                                            <div class="form-check form-check-radio hm-bmr-15">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lateArrival"  hm-watch="radio"  checked="">
                                                        No.
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="lateArrival"   hm-watch="radio" hm-extra-view="#lateArrivalRule">
                                                        Yes, Mark as leave without pay (LOP).
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            
                                            <div class="hide" id="lateArrivalRule">
                                                <div class="pl-4">
                                                    <div class="row no-gutters align-items-end mb-3">
                                                        <p>
                                                            If late arrival incidents exceed 
                                                        </p>
                                                        <div class="pl-3">
                                                            <input type="number" class="form-control" min="1" max="365" placeholder="0" value="2">
                                                        </div>
                                                        <p>
                                                             in a
                                                        </p>
                                                        <div class="px-2">
                                                            <select id="" class="form-control">
                                                                <option>Week</option>
                                                                <option>Month</option>
                                                                <option>Year</option>
                                                            </select>
                                                        </div>
                                                        <p>
                                                            then Mark as
                                                        </p>
                                                        <div class="pl-3">
                                                            <input type="number" class="form-control" min="1" max="365" placeholder="0" value="0.5">
                                                        </div>
                                                        <p>
                                                            LOP.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 1});">
                                            Previous
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 3});">
                                            Next
                                        </button>
                                        
                                    </div>
                                </div>
                            </section>
                            <section class="hm-step-content " hm-step-content="3">
                                <div class="px-3">
                                    <h3>
                                        Effective Working Hour
                                    </h3>
                                    <div class="mb-4">
                                        <p>
                                            Penalize (Mark LOP) for shortage of effective hours?
                                        </p>
                                        <div class="">
                                            <div class="form-check form-check-radio hm-bmr-15">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="shortEffectHours"  hm-watch="radio"  checked="">
                                                        No.
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="shortEffectHours"   hm-watch="radio" hm-extra-view="#shortEffecttHoursRule">
                                                        Yes, Mark as leave without pay (LOP).
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            
                                            <div class="hide" id="shortEffecttHoursRule">
                                                <div class="pl-4">
                                                    <div class="my-5">
                                                        <div class="form-check form-check-radio">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio" name="trackShortHourBy" checked="">
                                                                Track Daily
                                                                <span class="circle">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                            <div class="">
                                                                <div class="row no-gutters align-items-end mb-3">
                                                                    <p>
                                                                        If effective hour is less then 
                                                                    </p>
                                                                    <div class="pl-3">
                                                                        <input type="number" class="form-control" min="1" max="100" placeholder="0" value="90">
                                                                    </div>
                                                                    <p>
                                                                        % percent of shift timing
                                                                    </p>
                                                                </div>
                                                                <div class="row no-gutters align-items-end mb-3">
                                                                    <p>
                                                                        and such incidents exceed
                                                                    </p>
                                                                    <div class="pl-3">
                                                                        <input type="number" class="form-control" min="1" max="365" placeholder="0" value="2">
                                                                    </div>
                                                                    <p>
                                                                        times in a
                                                                    </p>
                                                                    <div class="px-2">
                                                                        <select id="" class="form-control">
                                                                            <option>Week</option>
                                                                            <option>Month</option>
                                                                            <option>Year</option>
                                                                        </select>
                                                                    </div>
                                                                    <p>
                                                                        then Mark as
                                                                    </p>
                                                                    <div class="pl-3">
                                                                        <input type="number" class="form-control" min="1" max="365" placeholder="0" value="0.5">
                                                                    </div>
                                                                    <p>
                                                                        LOP.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="my-5">
                                                        <div class="form-check form-check-radio">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio" name="trackShortHourBy">
                                                                Track Weekly
                                                                <span class="circle">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                            <div class="">
                                                                <div class="row no-gutters align-items-end mb-3">
                                                                    <p class="pt-3">
                                                                        If weekly effective hours shorter then shift total weekly hours 
                                                                    </p>
                                                                </div>
                                                                <div class="row no-gutters align-items-end mb-3">
                                                                    <p>
                                                                        and such incidents exceed
                                                                    </p>
                                                                    <div class="pl-3">
                                                                        <input type="number" class="form-control" min="1" max="365" placeholder="0" value="2">
                                                                    </div>
                                                                    <p>
                                                                        times in a
                                                                    </p>
                                                                    <div class="px-2">
                                                                        <select id="" class="form-control">
                                                                            <option>Month</option>
                                                                            <option>Year</option>
                                                                        </select>
                                                                    </div>
                                                                    <p>
                                                                        then Mark as
                                                                    </p>
                                                                    <div class="pl-3">
                                                                        <input type="number" class="form-control" min="1" max="365" placeholder="0" value="0.5">
                                                                    </div>
                                                                    <p>
                                                                        LOP.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <div class="mt-4">
                                            <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 2});">
                                                Previous
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 4});">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="hm-step-content " hm-step-content="4">
                                <div class="px-3">
                                    <h3>
                                        Missing Punch Out
                                    </h3>
                                    <div class="mb-4">
                                        <p>
                                            Penalize (Mark LOP) for missing puch outs?
                                        </p>
                                        <div class="">
                                            <div class="form-check form-check-radio hm-bmr-15">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="missedPuchOut"  hm-watch="radio"  checked="">
                                                        No.
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="missedPuchOut"   hm-watch="radio" hm-extra-view="#missedPuchOutRule">
                                                        Yes, Mark as leave without pay (LOP).
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            
                                            <div class="hide" id="missedPuchOutRule">
                                                <div class="pl-4">
                                                    <div class="row no-gutters align-items-end mb-3">
                                                        <p>
                                                            If missing punch outs incidents exceed 
                                                        </p>
                                                        <div class="pl-3">
                                                            <input type="number" class="form-control" min="1" max="365" placeholder="0" value="2">
                                                        </div>
                                                        <p>
                                                             in a
                                                        </p>
                                                        <div class="px-2">
                                                            <select id="" class="form-control">
                                                                <option>Week</option>
                                                                <option>Month</option>
                                                                <option>Year</option>
                                                            </select>
                                                        </div>
                                                        <p>
                                                            then Mark as
                                                        </p>
                                                        <div class="pl-3">
                                                            <input type="number" class="form-control" min="1" max="365" placeholder="0" value="0.5">
                                                        </div>
                                                        <p>
                                                            LOP.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <div class="mt-4">
                                            <button type="button" class="btn btn-white" onclick="hmWizardJumpStep({wrapperId : '#timePolicyWizard', step : 3});">
                                                Previous
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="dummyPanelSave('Time Policy Added Successfully !', 'success', '#panelAddNewTimePolicy')">
                                                Done
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                                

                            </section>
                            
                        </div>

                    </div>
                </div>
            </div>




        </div>

    </div>
</section>