<section class="hm-side-panel-wrapper" id="panelAddNewWeekoff">
    <div class="hm-side-panel">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">add</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal"> Add Week Off</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelAddNewWeekoff');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  p-4">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="form-group">
                        <label for=""><sup class="text-danger">*</sup>Title</label>
                        <input type="text" class="form-control" id="" required="">
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="form-check pb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Make It Default
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>

                    
                </div>
            </div>
            
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" id="" rows="2"></textarea>
            </div>

            <div>
                <div class="hm-text-size-16 py-3">
                    Define Week Off 
                </div>
                <table class="table table-bordered table-sm" align="left">
                   
                    <tbody>
                        <tr>
                            <td align="center" rowspan="2">
                                <span class="hm-text-dull">Days</span>
                            </td>
                            <td align="center" colspan="6">
                               <span class="hm-text-dull">Weeks</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                               <span class="hm-text-dull">All</span>
                            </td>
                            <td align="center">
                               <span class="hm-text-dull">1st</span>
                            </td>
                            <td align="center">
                               <span class="hm-text-dull">2nd</span>
                            </td>
                            <td align="center">
                               <span class="hm-text-dull">3rd</span>
                            </td>
                            <td align="center">
                               <span class="hm-text-dull">4th</span>
                            </td>
                            <td align="center">
                               <span class="hm-text-dull">5th</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Sunday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Monday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Tuesday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Wednesday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Thrusday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Friday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center">
                                <div class="hm-text-size-16 pt-2 hm-text-thick">
                                    Saturday
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td align="center">
                                <div class="form-check hm-lpd-0 hm-view-inline pb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hm-side-panel-footer px-3 py-2">
            <button type="button" class="btn btn-primary" onclick="dummyPanelSave('Week Off Added Successfully !', 'success', '#panelAddNewWeekoff')">Add Week Off</button>
            <button type="button" class="btn btn-white" hmclose="panel" onclick="closeSidePanel('#panelAddNewWeekoff');">Close</button>
        </div>
    </div>
</section>