<section class="hm-side-panel-wrapper" id="panelAddNewHoliday">
    <div class="hm-side-panel">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">add</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal"> Add Holiday</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelAddNewHoliday');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  p-4">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="form-group">
                        <label for=""><sup class="text-danger">*</sup>Name</label>
                        <input type="text" class="form-control" id="" required="">
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-control"><sup class="text-danger">*</sup> Date</label>
                        <input type="text" class="form-control datetimepicker" required="" />
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="form-check pb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Option Holiday
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                        <i class="material-icons hm-help-tip hm-text-size-16 hm-valign-middle" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">live_help</i>
                    </div>

                    <div class="form-check pb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Floating Holiday
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                        <i class="material-icons hm-help-tip hm-text-size-16 hm-valign-middle" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">live_help</i>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" id="" rows="1"></textarea>
            </div>
        </div>
        <div class="hm-side-panel-footer px-3 py-2">
            <button type="button" class="btn btn-primary" onclick="dummyPanelSave('Holiday Added Successfully !', 'success', '#panelAddNewHoliday')">Add Holiday</button>
            <button type="button" class="btn btn-white" hmclose="panel" onclick="closeSidePanel('#panelAddNewHoliday');">Close</button>
        </div>
    </div>
</section>