<div class="px-3">
    <!-- <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Personal Details
            </h4>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                First Name
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                Hemant    
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                Last Name
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                Sen    
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                Date Of Birth
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                10/12/2019    
                            </div>
                        </div>
                    </div>
                 
    
                    
                    
                    
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                Gender
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                Male    
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                Blood Group
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                B+    
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-4">
                            <span class="text-muted">
                                Marital Status
                            </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="hm-text-normal">
                                Unmarried   
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
     -->
    <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Personal Details
            </h4>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>First Name</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                 

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Last Name</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                                <label for="" class="pt-2"><sup class="text-danger">*</sup>Date Of Birth</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="text" class="form-control datetimepicker" required="" />
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Gender</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" >
                                    <option>Male</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Blood Group</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" >
                                    <option>B+</option>
                                    <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Marital Status</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <select id="" class="form-control" >
                                   <option>Unmarried</option>
                                   <option>...</option>
                                </select>
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Contact Details
            </h4>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup> Work Email</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="email" class="form-control" readonly="" value="userwork@email.com">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"> Personal Email</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="email" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2"><sup class="text-danger">*</sup>Mobile Number</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="tel" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Alternate Mobile No.</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="tel" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Resident Phone</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="tel" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label for="" class="pt-2">Skype ID</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group hm-tpd-0">
                                <input type="tel" class="form-control">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Address
            </h4>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="form-group">
                        <label for="" class="bmd-label-static"><sup class="text-danger">*</sup>Current Address</label>
                        <textarea class="form-control" id="" rows="4" required=""></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="form-group">
                        <label for="" class="bmd-label-static"><sup class="text-danger">*</sup>Permanent Address</label>
                        <textarea class="form-control" id="" rows="4" required=""></textarea>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
    <div>
        <button type="button" class="btn btn-primary">Update Details</button>
    </div>
    
    
</div>
