//--------hm custon css color customization---------------

// brand color
$HMprimary: green;
$HMsecondary: #00ccff;

//other color
$HMwhite: white;
$HMblack: black;

//bg color
$HMbgPrimary:	$HMprimary;
$HMbgSecondary:	$HMsecondary;
$HMbgGreen:	 $brand-success;
$HMbgOrange: #ffb75d;
$HMbgRed:	#f44336;
$HMbgDull:	#f7f8f9;
$HMbgGray:	#eee;


