<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body class="hm">
    <main class="hm-main-view">
        <section class="ml-auto mr-auto hm-max-w-500 px-3">
            <div class="mt-5">
                <div class="text-center">   
                    <a href="">
                        <img src="<%= baseUrl %>/img/logo.png" alt="" height="21">
                    </a>
                </div>
            </div>

            <div class="card p-4">
                <div class="row no-gutters">
                    <div class="hm-col">
                        <h3 class=" text-uppercase hm-mr-0">
                            Login 
                        </h3>
                    </div>
                    <div class="pl-3">

                    </div>
                </div>

                
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="signInDomainName" id="signInDomainName" placeholder="your-company-url" required="">
                            <div class="input-group-append">
                                <span class="input-group-text" >.hrm.com</span>
                            </div>
                        </div>
                        <div class="hm-input-error-msg">
                            Domain Name is not registered!
                        </div>
                    </div>
                    <div class="mt-4 ">
                        <div class="row no-gutters">
                            <div class="hm-col">

                            </div>
                            <div class="pl-3">
                                <button id="validateDomain" onclick="validateDomainName(this);" class="btn btn-primary">
                                    Continue
                                </button>
                            </div>
                        </div>
                    </div>
                

            </div>

            <div class="text-center">
                <span class="text-muted">
                    Not have an account?
                </span>
                <a href="/signup">Signup</a>
                <span class="text-muted">
                    Now.
                </span>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
        <% include js/loginJs %>
        <script>
                $('#signInDomainName').keydown(function(event){
                    var keyCode = (event.keyCode ? event.keyCode : event.which);
                    if (keyCode == 13) {
                        $('#validateDomain').click();
                    }
                });

        </script>
    </footer>
</body>
</html>
