<section id="QuickLinkWidgetWarpper">
    <div class="card hm-tmr-0 hm-widget-warpper">
        <div class="hm-widget-color-bar" style="background: deepskyblue;"></div>
        <div class="px-3 pt-2 animate-wrapper">
            <h4 class="title hm-mr-0 animate-fade-left">
                Quick Links
            </h4>
        </div>
        <div class="px-4 hm-widget-loader">
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
        </div>
        <div class="hm-widget-content hide">
            <div class=" hm-scroll-y-auto" style="height: 282px;">
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">Apply Leave</a>
                        </div>
                    </div>
                </div>
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">Apply Work From Home</a>
                        </div>
                    </div>
                </div>
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">My Pay Slips</a>
                        </div>
                    </div>
                </div>
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">Help Desk</a>
                        </div>
                    </div>
                </div>
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">HRM Tour</a>
                        </div>
                    </div>
                </div>
                <div class=" px-3 pt-2">
                    <div class="row no-gutters">
                        <div class="pr-1">
                            <i class="material-icons hm-text-dull">launch</i>
                        </div>
                        <div class="hm-col">
                            <a href="">History</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>