<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body class="hm">
    <main class="hm-main-view">
        <section class="ml-auto mr-auto hm-max-w-500 px-3">
            <div class="mt-5">
                <div class="text-center">   
                    <img src="<%= baseUrl %>/img/logo.png" alt="" height="32">
                </div>
                
            </div>
            
            <div class="card p-4">
                <div class="row no-gutters">
                    <div class="hm-col">
                        <h3 class=" hm-mr-0">
                           Create a new password.
                        </h3>
                        <div>
                            <span class="text-muted">For:</span>
                            <%= domain %>
                        </div>
                    </div>
                    <div class="pl-3">
                       
                    </div>
                </div>
                <div class="alert alert-success my-5 hide" id="createPassSuccsess">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <div >
                            New Password Created Successfully!
                        </div>
                        <div class="hm-text-size-16">
                            Please <u><a href="/company/login?domain=<%= encryptedURL %>" </a>  >Login Now</a></u>.    
                        </div>
                    </div>
                </div>
                <form class="form" method="" action="" id="createPassForm">
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating"><sup class="text-danger">*</sup>New Password</label>
                            <input type="password" class="form-control" required="" id="newPassword" getData onclick="hideErrorMessage(this)">
                            <span class="bmd-help hm-text-dull">Minimum 8 or more characters with a mix of uppercase and lowercase letter, numbers & special Character.</span>
                            <div class="hm-input-error-msg">
                                Required Field!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating"><sup class="text-danger">*</sup>Confirm Password</label>
                            <input type="password" class="form-control" required="" id="confirmNewPassword" getData onclick="hideErrorMessage(this)">
                            <span class="bmd-help hm-text-dull">Required Field!</span>
                            <div class="hm-input-error-msg">
                                Required Field!
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 ">
                        <div class="row no-gutters">
                            <div class="hm-col">
                                
                            </div>
                            <div class="pl-3">
                                <button type="button" class="btn btn-primary " id="createNewPasswordButton" onclick="createNewPassWord('#createPassSuccsess', '#createPassForm',this)">
                                    Create Password
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            
            </div>
            
            
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
        <% include js/resetPasswordJs %>
        <script>
             function dummyCreatePass(id1, id2){
                $(id1).add(id2).toggleClass('hide');
             }
             $('#confirmNewPassword').keydown(function(event){
                var keyCode = (event.keyCode ? event.keyCode : event.which);
                if (keyCode == 13) {
                    $('#createNewPasswordButton').click();
                }
            });
        </script>
    </footer>
</body>
</html>
