<div class="card p-3 hm-tmr-0 ">
    <div class="">
        <h3 class="hm-mr-0">
            Company Settings
        </h3>
        <p>
            General Infoabout company , this information used on login page.
        </p>
    </div>
    <div class=" ">
        <form class="">
            <div class="row">
                <div class="col-12 col-md-5 ">
                    <div class="form-group ">
                        <label class="bmd-label-floating"><sup class="text-danger">*</sup>Company Name</label>
                        <input type="text" class="form-control" value="Athenalogics Solution Pvt. Ltd." required="">
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="bmd-label-floating"><sup class="text-danger">*</sup> Company Domain / Short Name   </label>
                        <input type="text" class="form-control" value="Athena" required="">
                        <span class="bmd-help hm-text-dull">Max 20 letter</span>
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="bmd-label-floating">Company Website</label>
                        <input type="text" class="form-control" value=" www.athenalogics.com">
                    </div>

                    <div class="form-group form-file-upload ">
                        <input type="file" multiple="" class="inputFileHidden">
                        <div class="input-group">
                            <input type="text" class="form-control inputFileVisible" placeholder="Upload Logo">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                    <i class="material-icons">attach_file</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-6">

                    
                    <div class="form-group">
                        <label for="" class=""><sup class="text-danger">*</sup>Country</label>
                        <select id="" class="form-control" required="">
                            <option selected disabled="">Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="bmd-label-floating"><sup class="text-danger">*</sup>Address</label>
                        <input type="text" class="form-control" required="">
                        <div class="hm-input-error-msg">
                            Required Field!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group ">
                                <label class="bmd-label-floating"><sup class="text-danger">*</sup>City</label>
                                <input type="text" class="form-control" required="">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group ">
                                <label class="bmd-label-floating"><sup class="text-danger">*</sup>State</label>
                                <input type="text" class="form-control" required="">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group ">
                                <label class="bmd-label-floating"><sup class="text-danger">*</sup>Zip</label>
                                <input type="text" class="form-control" required="">
                                <div class="hm-input-error-msg">
                                    Required Field!
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row mt-4">
                        <div class="col-12 col-md-6">
                            <div class="form-group ">
                                <label class="bmd-label-floating">Office Phone</label>
                                <input type="tel" class="form-control" >
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group ">
                                <label class="bmd-label-floating">Office Email</label>
                                <input type="email" class="form-control" >
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div>
                <button class="btn btn-primary">
                    Save Changes
                </button>
                <button class="btn btn-white" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </div>
    </div>