<script>    
    $(document).ready(function(){
        initTeamLeaveCal('#teamLeaveCal');
    });


    /*-----------------fullCalendar js start-----------------------------*/
	function initTeamLeaveCal(id){
			var myCalendar = $(id).fullCalendar({
				header: {
					left: 'prev',
					center: 'title',
					right: 'next'
				},
				events: [{
					start: '2019-12-14',
					dateEvents: [{
						type: 'holiday',
						name: 'Diwali',
					}]
				},
				{
					start: '2019-12-12',
					dateEvents: [{
						type: 'leave',
						name: 'Hemant',
						imgUrl: 'https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg'
					},
					{
						type: 'leave',
						name: 'Chetna',
						imgUrl: 'https://s3.amazonaws.com/uifaces/faces/twitter/stephenmoon/128.jpg'
					}]
				},
				{
					start: '2019-12-25',
					dateEvents: [{
						type: 'holiday',
						name: 'Christmas',
					}]
				}],
				eventAfterRender: (event, element) => {
					var parentElement = element.parent();
					element.remove();
					var holidayBadgeCreated = false;
					var leaveBadgeCreated = false;
					var holidayContent = '';
					var leaveContent = '';

					for (let i = 0; i < event.dateEvents.length; i++) {
						if (event.dateEvents[i].type == 'holiday') {
							if (!holidayBadgeCreated) {
								parentElement.append(`<span class="hm-cal-event-dot hm-cal-event-holiday">W</span>`);
								holidayBadgeCreated = true;
							}
							holidayContent += `<div class="">
													<div class="hm-text-dull hm-text-size-11">
														Holiday
													</div>
													<div class="hm-text-size-16">
														${event.dateEvents[i].name}
													</div>
													<div class="hm-text-dull hm-text-size-12">
														${moment(event.start).format('MMM Do YYYY')}
													</div>
												</div>
												`
						}
						else if (event.dateEvents[i].type == 'leave') {
							if (!leaveBadgeCreated) {
								parentElement.append(`<span class=" hm-cal-event-dot hm-cal-event-leave">L</span>`);
								leaveBadgeCreated = true;
							}
							leaveContent += `<div class="hm-line-next-top py-1 ">
												<div class="row no-gutters">
													<div class="pr-1">
														<img class="hm-name-circle" src="${event.dateEvents[i].imgUrl}">
													</div>
													<div class="hm-col">
														<div class="">
															${event.dateEvents[i].name}
														</div>
														<div class="hm-text-dull hm-text-size-11 ">
															On Leave:  ${moment(event.start).format('MMM Do YYYY')}
														</div>
													</div>
												</div>
											</div>
											`
						}
					}
					if (holidayContent != '') {
						holidayContent = holidayContent.slice(0, holidayContent.length-4);
						parentElement.children().first().popover({
							html: true,
							content: holidayContent,
							trigger: 'hover',
							placement: 'top',
							container: 'body'
						});
					}
					if(leaveContent != ''){
						leaveContent = leaveContent.slice(0, leaveContent.length-4);
						parentElement.children().last().popover({
							html: true,
							content: leaveContent,
							trigger: 'hover',
							placement: 'top',
							container: 'body'
						});
					}

				}
			});
		}
		/*-----------------fullCalendar js end-----------------------------*/
</script>
