<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head %>
</head>
<style>


</style>
<body class="hm hm-has-top-menu hm-has-side-menu">
    <header>
        <% include ../../partials/header %>
    </header>
    <aside>
        <% include ../../partials/side-menu %>
    </aside>

    <main class="hm-main-view">
        <div class="p-3">   
            
            <section class="hm-tab-wrapper">
                
                    <div class="row no-gutters">
                        <div class="pr-3" style="width: 250px;">
                            <div class="card pr-3 py-3 hm-tmr-0">
                                <div class="hm-tab-nav-wrapper">
                                    <div class="hm-setup-menu-item hm-tab-link active" hmtab="setupCompanyInfo">
                                        <div class="hm-setup-menu-item-sub">   
                                            Company Settings
                                        </div> 
                                        <small> 
                                            General Info
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item hm-tab-link" hmtab="setupLeaves">
                                        <div class="hm-setup-menu-item-sub">   
                                            Leave & Holidays
                                        </div> 
                                        <small> 
                                            Plan Leaves and Holidays 
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item hm-tab-link" hmtab="setupEmployee">
                                        <div class="hm-setup-menu-item-sub">   
                                            Employee Settings
                                        </div> 
                                        <small> 
                                            Manage Employee Settings
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item hm-tab-link" hmtab="setupOnboardExit">
                                        <div class="hm-setup-menu-item-sub">   
                                            Onboarding & Exit
                                        </div> 
                                        <small> 
                                            Welcome and Re.targetaving
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item ">
                                        <div class="hm-setup-menu-item-sub">   
                                            Payroll Setup
                                        </div> 
                                        <small> 
                                            Payment and pay slips settings
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item ">
                                        <div class="hm-setup-menu-item-sub">   
                                            Timesneet
                                        </div> 
                                        <small> 
                                            Manage Timesneet, Approval and Billing
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item hm-tab-link" hmtab="setupRolesPermissions">
                                        <div class="hm-setup-menu-item-sub">   
                                            Roles & Permissions
                                        </div> 
                                        <small> 
                                            Manage roles and Permissions
                                        </small>
                                    </div>
                                    <div class="hm-setup-menu-item ">
                                        <div class="hm-setup-menu-item-sub">   
                                            Imports Data
                                        </div> 
                                        <small> 
                                            Import external data
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="hm-col">
                            <div class="hm-tab-content-wrapper">
                                <!-- company info -->
                                <div class="hm-tab-content active" hmtab="setupCompanyInfo">
                                    <% include company/view_CompanySetting %>
                                </div>
                                <!-- leaves -->
                                <div class="hm-tab-content" hmtab="setupLeaves">
                                    <% include leaveHolidays/view_LeavesHolidays %>
                                </div>
                                <!-- setup employee -->
                                <div class="hm-tab-content" hmtab="setupEmployee">
                                    <% include employees/view_EmployeeSettings %>
                                </div>
                                <!-- setup OnboardingExit -->
                                <div class="hm-tab-content" hmtab="setupOnboardExit">
                                    <% include onboardingExit/view_OnboardExitSettings %>
                                </div>
                                <!-- setup Roles and Permissions -->
                                <div class="hm-tab-content" hmtab="setupRolesPermissions">
                                    <% include rolesPermissions/view_RolesPermissionsSettings %>
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
        <script>
            
            
            $(document).ready(function(){

                autoComp(
                  { 
                    eleWrapper: '#example',
                    url: 'https://jsonplaceholder.typicode.com/users',
                    srchTerm: 'name',
                    listingFn: 'listResult',
                    setSelectionFn: 'setSelection',
                    afterSelection: function(){
                                      console.log('Selection Done');
                                    }
                  } 
                );
            });

            function autoComp(option){
              var ele = $(option.eleWrapper);
              $.each(ele, function(n){
                var autoInput = $('input', ele[n]);
                var autoIcons  = $('.auto-icons', ele[n]);
                var hasVal = autoInput.val().length;
                  if(hasVal > 0){
                    $('.auto-icon-search',autoIcons).addClass('hide');
                    $('.auto-icon-close',autoIcons).removeClass('hide');
                    $(autoInput).attr('readonly', 'readonly');
                    $(ele[n]).addClass('auto-input-has-value');
                  }
                  $('.auto-icon-close', autoIcons).click(function(event){
                      $(this).addClass('hide');
                      $('.auto-icon-search',autoIcons).removeClass('hide');
                      $(autoInput).val('');
                      $(autoInput).focus();
                      $(autoInput).removeAttr('readonly');
                      $(ele[n]).removeClass('auto-input-has-value'); 
                  });

                  $(autoInput).focus(
                    function(event){
                      $(this).off('focus');
                      initAutoComp(option, this);
                    }
                  );
              });
            }

            function initAutoComp(option, currentInput){
                var ele = $(currentInput).closest(option.eleWrapper);
                var autoInput = $(currentInput);
                var autoUlOuter = $('.auto-list' , ele);
                var autoUl = $('ul', autoUlOuter);
                var autoIcons  = $('.auto-icons', ele);
                var autoSpin  = $('.auto-icon-spin',autoIcons);
                var hasVal = $(autoInput).val().trim();
                $(autoUl).click(function(event){
                  event.stopPropagation();
                  if(event.target.nodeName == 'LI'){
                    $('li', autoUl).removeClass('auto-current-option');
                    $(event.target).addClass('auto-current-option');
                    window[option.setSelectionFn](option, autoInput);
                  }
                });
              
                $(window).click(function() {
                  $(ele).removeClass('auto-comp-active');
                  if($(ele).hasClass('auto-input-has-value') || $(autoInput).val().trim().length <= 0){
                    $(ele).removeClass('auto-input-error');
                  }
                  else{
                    $(ele).addClass('auto-input-error');
                  }
                });
              
                
                $(autoInput).keyup(function(event){
                  if(ele.hasClass('auto-input-has-value')){
                     return;
                  }
                  var oldLI = $('.auto-current-option', autoUl);
                  var nxtLI = oldLI.next();
                  var prvLI = oldLI.prev();
                  switch (event.keyCode) {
                    default:
                      setTimeout(function(){
                        var term = autoInput.val().trim();
                        if (term == "") return;
                        $(autoSpin).removeClass('hide');
                        $.ajax({
                          type:"GET",
                          url:option.url,
                          success: function(data) {
                            var liItem =                  data.filter(x=>x[option.srchTerm].toLowerCase().includes(term.toLowerCase()));
                            window[option.listingFn](option, liItem, autoInput);
                          },
                          error: function() {
                            $(ele).addClass('auto-comp-active');
                            $(autoSpin).addClass('hide');
                          }
                        });
                      }, option.delay || 300);
                      break;

                    case 40: 
                      if(nxtLI.length > 0){
                        oldLI.add(nxtLI).toggleClass('auto-current-option');
                        autoUl.scrollTop(autoUl.scrollTop() + oldLI.height());
                      }
                      break;

                    case 38:
                      if(prvLI.length > 0){
                        oldLI.add(prvLI).toggleClass('auto-current-option');
                        autoUl.scrollTop(autoUl.scrollTop() - oldLI.height());
                      }
                      break;
                      
                    case 13:
                      if(!ele.hasClass('auto-input-has-value') && ele.hasClass('auto-comp-active')){
                        window[option.setSelectionFn](option,autoInput);
                      }
                      break; 
                  }  
                });

              }

            function listResult(option, result, currentInput){
              var parent = $(currentInput).closest(option.eleWrapper);
              var autoInput = $(currentInput);
              var autoUlOuter = $('.auto-list' , parent);
              var autoUl = $('ul' , autoUlOuter);
              var autoIcons  = $('.auto-icons', parent);
              var autoSpin  = $('.auto-icon-spin',autoIcons);
              
              if(result.length > 0){
                $(autoUl).empty();
                $.each(result, function(n, item){
                  let HTML = `<li class="auto-option"> ` + item[option.srchTerm]+ `</li>`;
                  $(autoUl).append(HTML);
                });
                $(parent).addClass('auto-comp-active');
                autoSpin.addClass('hide');
               
                $('li',autoUl).first().addClass('auto-current-option');
                $(autoUl).scrollTop(0);
              }
              else{
                autoSpin.addClass('hide');
                $(parent).removeClass('auto-comp-active');
              }
            }

            function setSelection(option,currentInput){
              var parent = $(currentInput).closest(option.eleWrapper);
              var val = $('.auto-current-option',parent).text();
              var autoInput = $(currentInput);
              var autoIcons  = $('.auto-icons', parent);
              
              $(parent).addClass('auto-input-has-value');
              $(parent).removeClass('auto-input-error');
              $(autoInput).val(val);
              $(autoInput).attr('readonly', 'readonly');
              $('.auto-icon-search',autoIcons).addClass('hide');
              $('.auto-icon-close',autoIcons).removeClass('hide');
              $(parent).removeClass('auto-comp-active');
             
              if(option.afterSelection){
                option.afterSelection();
              }
            }
        </script>
    </footer>
    <script>


    </script>
</body>
</html>
