<section id="notApprovedWidgetWarpper">
    <div class="card hm-tmr-0 hm-widget-warpper" id="">
        <div class="hm-widget-color-bar" style="background: orange;"></div>
        <div class="mx-3 pt-2 animate-wrapper">
            <h4 class="title hm-mr-0 animate-fade-left">
                Not Approved Yet
            </h4> 
        </div>
        <div class="px-4 hm-widget-loader">
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
            <div class='mb-4'>
                <div class='hm-loading-line hm-loading-line-w-50'></div>
                <div class='hm-loading-line'></div>
            </div>
        </div>
        <div class="hm-widget-content hide">
            <div class="hm-scroll-y-auto" style="height: 282px;">
                <div class="py-2 px-3">
                    <div class="row no-gutters">
                        <div class="" style="min-width: 30px;">
                            <span class=" hm-text-size-24 ">
                                1
                            </span> 
                        </div>
                        <div class="pr-2">
                            <span class="hm-text-dull hm-text-size-11 text-uppercase">
                                Unapproved
                            </span>
                        </div>
                        <div class="hm-col pl-2 hm-line-left">
                            Leave Request
                        </div>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="row no-gutters">
                        <div class="" style="min-width: 30px;">
                            <span class=" hm-text-size-24 ">
                                2
                            </span> 
                        </div>
                        <div class="pr-2">
                            <span class="hm-text-dull hm-text-size-11 text-uppercase">
                                Unapproved
                            </span>
                        </div>
                        <div class="hm-col pl-2 hm-line-left">
                            Wrok From Home Request
                        </div>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="row no-gutters">
                        <div class="" style="min-width: 30px;">
                            <span class=" hm-text-size-24 ">
                                1
                            </span> 
                        </div>
                        <div class="pr-2">
                            <span class="hm-text-dull hm-text-size-11 text-uppercase">
                                Unapproved
                            </span>
                        </div>
                        <div class="hm-col pl-2 hm-line-left">
                            Profile Update
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>