<section class="hm-side-panel-wrapper user-search-box" id="panelOrgTreeSearch">
    <div class="hm-side-panel hm-side-panel-small">
        <header class="hm-side-panel-header border-bottom">
            <div class="row no-gutters px-3">
                <div class="pt-2 pr-2">
                    <i class="material-icons">search</i>
                </div>
                <div class="hm-col">
                    <h4 class="hm-text-normal">Search Employee</h4>
                </div>
                <div class="pl-3">
                    <button class="btn  btn-fab btn-link btn-round" onclick="closeSidePanel('#panelOrgTreeSearch');">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="hm-side-panel-body  p-4">
            <div class="form-group hm-tpd-0">
                <input type="text" class="form-control search-input" required="" placeholder="Search by name">
                <div class="hm-input-error-msg">
                    Required Field!
                </div>
            </div>
            <div class="result-box">
                <div class="result-header title"> Results </div>

                <div class="result-list">
                    <div class="buffer"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>