<div class="px-3">
    
    <section class="">
        <div class="">
            <h4 class="title  hm-bmr-10">
               Asstes Asigned To You
            </h4>
        </div>
        <div>
            <table class="table table-hover" align="left">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Asset Code</th>
                        <th scope="col">Type</th>
                        <th scope="col">Issued On</th>
                        <th scope="col">Expected Return</th>
                        <th scope="col">Returned On </th>
                        <th scope="col">Acknowledged</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Computer</td>
                        <td>Desk-4</td>
                        <td>Electronics</td>
                        <td>01/01/2019</td>
                        <td></td>
                        <td></td>
                        <td class="td-actions">
                            <button class="btn btn-success">
                                <i class="material-icons" title="Accept">check</i>
                            </button>
                            <button class="btn btn-white" title="Reject">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Keyboard</td>
                        <td>KBOARD-4</td>
                        <td>Electronics</td>
                        <td>01/01/2019</td>
                        <td></td>
                        <td></td>
                        <td>
                           <span class="text-success">Confirmed</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    
    
    
</div>
